<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link href='/css/reservation/detail.css' rel='stylesheet' />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<title>Insert title here</title>
</head>
<body>
	<script th:inline="javascript">
		const message = [[${message}]];
		if(message){
			alert(message);
			location.href =  '/admin/reservation/detail/' + '[[${reservationNo}]]';
		}
	</script>
	<div th:if ="${message} == null">
		<div th:include="common/header.html"></div>
		<div th:include="common/adminReservationAside.html"></div>

		<h1 class="head" align="center"
			th:text="${#dates.format(date, 'yyyy-MM-dd')}"></h1>
		<h3 class="head" align="center"
			th:text="${#dates.format(reservation.businessStartTime, 'HH:mm')} + '~' + ${#dates.format(reservation.businessEndTime, 'HH:mm')}"></h3>
		<table align="center" border="1">
			<tr>
				<th>주소 :</th>
				<td th:text="${ reservation.userAddress }"></td>
			</tr>
			<tr>
				<th>상세주소 :</th>
				<td th:text="${ reservation.userDetailAddress }"></td>
			</tr>
			<tr>
				<th>평수 :</th>
				<td th:text="${ reservation.userHouseSize } + '평'"></td>
			</tr>
			<tr>
				<th>급여 :</th>
				<td th:if="${ reservation.businessFixedPeople == 2}"
					th:text="${#numbers.formatInteger(reservation.totalPayment * 0.92 * 0.8 / 2 , 3, 'COMMA')} + '원'"></td>
				<td th:if="${ reservation.businessFixedPeople == 1}"
					th:text="${#numbers.formatInteger(reservation.totalPayment * 0.92 * 0.8 , 3, 'COMMA')} + '원'"></td>
			</tr>
			<tr>
				<th>시간 :</th>
				<td th:text="${ workTime } + '시간'"></td>
			</tr>
			<tr>
				<th>요청사항 :</th>
				<td th:text="${ reservation.userRequirements }"></td>
			</tr>
			<tr>
				<th>부가서비스 :</th>
				<td><span th:if="${ reservation.gashoodCleanYn == 'Y'}"
					th:text="' 가스레인지 후드 청소 '"></span> <span
					th:if="${ reservation.moldCleanYn == 'Y'}" th:text="' 곰팡이 제거 '"></span>
					<span th:if="${ reservation.filterCleanYn == 'Y'}"
					th:text="' 필터 청소 '"></span> <span
					th:if="${ reservation.warehouseCleanYn == 'Y'}" th:text="' 창고 정리 '"></span>
					<span th:if="${ reservation.petYn == 'Y'}"
					th:text="' 애완 동물 여부(관련청소) '"></span> <span
					th:if="${ reservation.multipleLayerYn == 'Y'}" th:text="' 복층 여부 '"></span>
				</td>
			</tr>

			<tr>
				<th>정원 :</th>
				<td th:text="${ reservation.businessFixedPeople } + '명'"></td>
			</tr>

			<tr>
				<th>지원인원 :</th>
				<td th:text="${ reservation.businessApplyPeople } + '명'"></td>
			</tr>

			<tr>
				<th>지원 가능 여부 :</th>
				<td style="color: red;" th:if="${ reservation.applyEndYn =='Y'}"
					th:text="불가능"></td>
				<td style="color: blue;" th:if="${ reservation.applyEndYn =='N'}"
					th:text="가능"></td>
			</tr>
		</table>
		
	<div align="center">
		<div class="emp" th:each="applyEmployee , applyEmployeeStat : ${ applyEmployeeInfoList }">
			<span class="empName" th:classappend="employee+${applyEmployeeStat.count}" th:text="${ applyEmployee.employeeName }">
			</span>
			<!-- 예약일정이 종료됐으면 삭제 불가 -->
			<span th:if="${reservation.businessStartTime gt sysdate}" class="empButton" th:classappend="employeeButton+${applyEmployeeStat.count}">X</span>
			<script th:inline="javascript">
				var penalty = 1;
			
				$(".employeeButton[[${applyEmployeeStat.count}]]" && ".employee[[${applyEmployeeStat.count}]]").on("click", function(){
				   if(confirm("정말로 삭제하시겠습니까?")){
					   const con = confirm("패털티 추가하시겠습니까?");
					   if(con){
						   penalty++;
					   }
			   			location.href = '/admin/reservation/employeeDelete/'+penalty+'/'+[[${applyEmployee.employeeNo}]]+'/'+[[${reservation.reservationNo}]];
				   }
				});
			</script>
		</div>
	</div>
		<div
			th:if="${ reservation.applyEndYn =='N'} and ${reservation.businessStartTime gt sysdate}">
			<button onclick="employee();">직원 추가</button>
		</div>
		<script th:inline="javascript">
		function employee(){
			var employee = prompt("직원번호를 입력하세요");
			var regexp = /^[0-9]{1,100}$/g;
			
			if(regexp.test(employee)){
				location.href = '/admin/reservation/employeeInsert/'+employee+'/'+[[${reservation.reservationNo}]];
			} else{
				alert("사원번호만 입력가능합니다.");
			}
			
		};
	</script>
		<div>
			<button onclick="history.back();">목록</button>
		</div>
	</div>
</body>
</html>