<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>

		<div class="page-num"
			th:with="start=${(pages.number/maxPage)*maxPage + 1},
                  end=(${(pages.totalPages == 0) ? 1 : (start + (maxPage - 1) < pages.totalPages ? start + (maxPage - 1) : pages.totalPages)})">
			<ul>
				<li th:if="${start > 1}"><a
					th:href="@{/admin/select/blackList?(page=0)}" th:text="'<<'"></a></li>
				</li>

				<li th:if="${start > 1}"><a
					th:href="@{/admin/select/blackList?(page=${start - maxPage})}"
					th:text="'<'"></a></li>


				<li th:each="page: ${#numbers.sequence(start, end)}"><a
					th:href="@{/admin/select/blackList?(page=${page-1})}"
					th:text="${page}"></a></li>
				</li>

				<li th:if="${end < pages.totalPages}"><a
					th:href="@{/admin/select/blackList?(page=${start + maxPage})}"
					th:text="'>'"></a></li>

				<li th:if="${end < pages.totalPages}"><a
					th:href="@{/admin/select/blackList?(page=${pages.totalPages-1})}"
					th:text="'>>'"></a></li>
				</li>
			</ul> 
		</div>



</html>