<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/humanResource/blackList/selectBlackListDetail.css}">
    <title>Document</title>
</head>
<body>
	<div th:replace="/common/Header.html"></div>
	<div th:replace="/admin/adminAside.html"></div>
	
    <section class="section">
        <table class="tableBox">
            <colgroup> <!-- width = 770px -->
	              <col style="width: 150px">
	              <col style="width: 165px">
	              <col style="width: 150px">
	              <col style="width: 165px">
	              <col style="width: 70px">
	              <col style="width: 70px">
            </colgroup>
         <thead>
          <tr>
            <td class="subTitle">직원번호</td>
            <td th:text="${employee.employeeNo}"></td>
            <td class="subTitle">이름</td>
            <td th:text="${employee.employeeName}"></td>
            <td colspan="2" rowspan="3">
            
             <img id="pictureImg" th:src="@{/adminEmployeePicture/} + ${employee.employeePictureSaveName}" 
             	  alt="사진을 등록해주세요" width="100px" height="100px" onerror="this.style.display='none'" >
            </td>
          </tr>
          <tr>
            <td class="subTitle">ID</td>
            <td th:text="${employee.employeeId}"></td>
            <td class="subTitle">전화번호</td>
            <td th:text="${employee.employeePhone}"></td>
          </tr>
          <tr>
            <td class="subTitle">생년월일</td>
            <td th:text="${employee.employeeBirth}"></td>
            <td class="subTitle">퇴사여부</td>
            <td th:text="${employee.employeeRetireYn}"></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="subTitle">이메일</td>
            <td colspan="5" th:text="${employee.employeeEmail}"></td>
          </tr>
          <tr>
            <td class="subTitle">우편번호</td>
            <td th:text="${address.addressNo}"></td>
            <td class="subTitle">기본주소</td>
            <td colspan='3' th:text="${address.address}"></td>
          </tr>
          <tr>
            <td class="subTitle">상세주소</td>
            <td colspan="5" th:text="${address.addressDetail}"></td>
          </tr>
          <tr>
            <td class="subTitle">입사일</td>
            <td th:text="${employee.employeeHireDate}"></td>
            <td class="subTitle">퇴사일</td>
            <td colspan="3" th:text="${employee.employeeRetireDate}"></td>
          </tr>
          <tr>
            <td class="subTitle">누적경고횟수</td>
            <td th:text="${employee.employeeSumCount}"></td>
            <td class="subTitle">누적근무시간</td>
            <td colspan="3" th:text="${employee.employeeSumTime}"></td>
          </tr>
          <tr>
            <td class="subTitle">마지막 로그인 일자</td>
            <td th:text="${employee.employeeLastLoginDate}"></td>
            <td class="subTitle">블랙리스트 여부</td>
            <td colspan="3" th:text="${employee.employeeBlackListYn}"></td>
          </tr>
        </tbody>
        </table>
        <br>
        <table class="button">
            <tr>
            </tr>
        </table>
    </section>
</body>
</html>