<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<title>Insert title here</title>
</head>
<body>
	<script th:inline="javascript">
	/*[# th:if = ${applyMessage} != null]*/
		alert([[${applyMessage}]]);
		location.href = '/reservation/detail/' + '[[${reservationNo}]]';
	/*[/]*/
	</script>
	<div th:include="common/header.html"></div>
	
	<table align="center" border="1">
		<tr>
			<td>주소 : </td>
			<td th:text="${ reservation.userAddress }"></td>
		</tr>
		<tr>
			<td>평수 : </td>
			<td th:text="${ reservation.userHouseSize } + '평'"></td>
		</tr>
		<tr>
			<td>급여 : </td>
			<td th:if="${ reservation.businessFixedPeople == 2}" th:text="${#numbers.formatInteger(reservation.totalPayment * 0.92 * 0.8 / 2 , 3, 'COMMA')} + '원'"></td>
			<td th:if="${ reservation.businessFixedPeople == 1}" th:text="${#numbers.formatInteger(reservation.totalPayment * 0.92 * 0.8 , 3, 'COMMA')} + '원'"></td>
		</tr>
		<tr>
			<td>시간 : </td>
			<td th:text="${ workTime } + '시간'"></td>
		</tr>
		<tr>
			<td>요청사항 : </td>
			<td th:text="${ reservation.userRequirements }"></td>
		</tr>
		<tr>
			<td>부가서비스 : </td>
			<td th:if="${ supplementService.gashoodCleanYn == 'Y'}" th:text="'가스레인지 후드 청소'"></td>
			<td th:if="${ supplementService.moldCleanYn == 'Y'}" th:text="'곰팡이 제거'"></td>
			<td th:if="${ supplementService.filterCleanYn == 'Y'}" th:text="'필터 청소'"></td>
			<td th:if="${ supplementService.warehouseCleanYn == 'Y'}" th:text="'창고 정리'"></td>
			<td th:if="${ supplementService.petYn == 'Y'}" th:text="'애완동물 여부 (관련청소)'"></td>
			<td th:if="${ supplementService.multipleLayerYn == 'Y'}" th:text="'복층 여부'"></td>
		</tr>
		
		<tr>
			<td>정원 : </td>
			<td th:text="${ reservation.businessFixedPeople } + '명'"></td>
		</tr>
		
		<tr>
			<td>지원인원 : </td>
			<td th:text="${ reservation.businessApplyPeople } + '명'"></td>
		</tr> 
		
		<tr>
			<td>지원 가능 여부 : </td>
			<td style="color:red;" th:if="${ reservation.applyEndYn =='Y'}" th:text="불가능"></td>
			<td style="color:blue;" th:if="${ reservation.applyEndYn =='N'}" th:text="가능"></td>
		</tr>
		
	</table>
	
	<div th:if="${ applyButtonText == '지원하기'}">
		<button th:onclick="'location.href = \'' + @{/reservation/apply/{id}(id=${reservation.reservationNo})} + '\''">지원하기</button>
	</div>
	<div th:if="${ applyButtonText == '지원취소'}">
		<button th:onclick="'location.href = \'' + @{/reservation/applyCancel/{id}(id=${reservation.reservationNo})} + '\''">지원취소</button>
	</div>
	<button>목록</button>
</body>
</html>