.btn-bs {
	width: 70px;
	margin-top: -6px;
	height: 32px;
	font-size: 13px;
	padding: 0;
	background-color: #9AE8F9;
}

/* 페이징버튼 css */
.pagingArea button {
	font-family: 'MinSans-Medium';
	width: 30px;
	height: 40px;
	background-color: #9AE8F9;
	border-color: gray;
	border-style: none;
	font-weight: bold;
}
