<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<title>ProjectClean</title>
</head>
<body>
	<div th:include="common/header.html"></div>
	<div th:include="common/taskAside.html"></div>
	<table id="taskInfo" border="1">
		<thead>
			<tr>
				<td width="100">예약 번호</td>
				<td width="100">고객 이름</td>
				<td width="200">시작 시간</td>
				<td width="200">종료 시간</td>
				<td width="100">예상 급여</td>
				<td width="100">업무 시작</td>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	 
	<script>
      $( document ).ready( function() {
        var i=1
        $( 'button' ).each( function() {
          $( this ).addClass( 's' + i );
          i = i + 1;
        } );
      } );
    </script>
	 
	<script>
 		var businessTime = []; 
 		let i;
		
			window.onload = function(){
				$.ajax({
					url : "selectMyTask",
					method : "post",
					success:function(data){
						
						const $table = $("#taskInfo tbody");
						$table.html("");
						
						for(var index in data){
							$tr = $("<tr>");
							$noTd = $("<td1>").text(data[index].reservationNo);
							$nameTd = $("<td>").text(data[index].userName);
							$startTimeTd = $("<td2>").text(data[index].businessStartTime);
							$endTimeTd = $("<td>").text(data[index].businessEndTime);
							$paymentTd = $("<td>").text(data[index].totalPayment);
							
							$tr.append($noTd);
							$tr.append($nameTd);
							$tr.append($startTimeTd);
							$tr.append($endTimeTd);
							$tr.append($paymentTd);
	 						$tr.append('<button>제출하기</button>'); 
							$table.append($tr);
							
							for( i = 0; i < data.length; i++){
								businessTime = data[index].businessStartTime;
							}
						};
					},
					error:function(error){
						console.log(error);
					}
				});
				
				$("#taskInfo tbody").on("click", this.find('button'), function(){
					var nowtime = new Date();
					nowtime.setMinutes(nowtime.getMinutes() - 30)
					
					const nowtime2 = nowtime.toString().substring(16, 21);
					
					console.log("업무 시간 : " + businessTime);
 					console.log("개별 데이터 : " + $(this).find('td2').text()) 
 					
 					console.log("문자열 타입 현재 시간 : " + nowtime2)
 					const timer =  $(this).find('td2').text().substring(11,16)
					 					
 					console.log(nowtime2)
 					console.log(timer)
 					
					if(businessTime > nowtime2){
						alert("업무 가능")
						
					} else{
						alert("업무 불가능")
					};
					
				});
		};
   	</script>
   	
</body>
</html>