.confirmTableBox td {
	border: solid 1px;
	font-size: 14px;
}

.comfirmBox td {
	height: 75px;
}

.confirmTableBox {
	width: 550px;
	margin-bottom: 20px;
	
}

.confirmNameBox{
	 line-height: 80px;
}

.confirmDateBox{
	height: 25px;
}

/* 인사 테이블 */
.tableBox{
	width: 750px;
}

.tableBox td {
	border: solid 1px;
	font-size: 14px;
	padding: 10px 10px;
}

.buttonBox{
	width:750px;
	text-align: center;
}

.reasonBox{
	height:150px;
	text-align: center;
	line-height: 100px;
}