<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:include="common/Header.html"></div>
	<div th:include="common/hrAside.html"></div>
	<h3>관리자 메인 페이지</h3>
		<script>
		console.log("관리자")
		</script>
		
		<input type="button" onclick="location.href='/admin/hrCard/adminList'">
		<input value="직원등록" type="button" onclick="location.href='/admin/hrCard/adminRegist'">
	
</body>
</html>