<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	 <div th:include="common/header.html"></div>
	 
	<button onclick="location.href='/admin/select/retireNEmployee'">전체 인원 조회</button>
	<button onclick="location.href='/admin/hr/regist/employee'">직원 등록(hr)</button>
	
	<div sec:authorize="hasRole('ROLE_ADMIN_HR')">
	<th:block sec:authorize="!hasRole('ROLE_ADMIN_BOSS')">
		<button>(hr)</button>
	</th:block>
	
	<th:block sec:authorize="hasRole('ROLE_ADMIN_BOSS')">
		<button>(boss)</button>
	</th:block>
	</div>
	<button onclick="location.href='/admin/boss/regist/employee'">직원 대기중(관리자boss)</button>
	<button onclick="location.href='/admin/select/blackList'">블랙리스트 조회</button>
	<button onclick="location.href='/admin/select/vacation'">나의 휴가 조회</button>
	<button onclick="location.href='/admin/hr/select/Allvacation'">휴가 전체 조회</button>
	 <br>
	 <br>
	 <hr>
	 <br>
	 <br>
	 
	<h3>관리자 메인 페이지</h3>
		<script>
		console.log("관리자")
		</script>
		
		<input type="button" onclick="location.href='/admin/hrCard/adminList'">
		<input value="직원등록" type="button" onclick="location.href='/admin/hrCard/adminRegist'">
	 <!-- <div th:include="admin/adminAside.html"></div> -->
	 
</body>
</html>