<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	 <div th:include="common/header.html"></div>
	<!-- <p th:text="${#authentication.name}"></p> -->
	해당 사용자 권한: <span th:text="${#authentication.authorities}"></span>
	<!-- <p th:text="${#authentication.authenticated}"></p> -->
	 <br>
	  <button onclick="location.href='/admin/select/AllEmployee/move'">전체 인원 조회</button>
	<!-- <button onclick="location.href='/admin/select/retireN'">전체 인원 조회</button> -->
	<button onclick="location.href='/admin/hr/regist/EmployeePage'">직원 등록(hr)</button>
	
	
	
	<button onclick="location.href='/admin/select/blackList/move'">블랙리스트 조회</button>
	
	
	
	
<button onclick="location.href='/admin/select/selectMyVacation/move'">나의 휴가 조회</button>	
	
	
	
	<th:black sec:authorize="hasRole('ROLE_ADMIN_HR')">
	<button onclick="location.href='/admin/hr/humanResource/selectAllVacation/move'">휴가 전체 조회</button>
	
	</th:black>
	<div sec:authorize="hasRole('ROLE_ADMIN_HR')">
	<th:block sec:authorize="!hasRole('ROLE_ADMIN_BOSS')">
		<button>(hr)</button>
	</th:block>
	
	<th:block sec:authorize="hasRole('ROLE_ADMIN_BOSS')">
		<button>(boss)</button>
	</th:block>
	</div>
	
	<button type="button" id="myVacationList">나의 휴가 조회(직원)</button>
	      <div style="display: none;" id="myVacation" sec:authentication="principal.adminNo"></div>
	
	<button onclick="location.href='/admin/hr/select/Allvacation'">휴가 전체 조회</button>
	
	 <br>
	 <br>
	 <hr>
	 <br>
	 <br>
	 
	<h3>관리자 메인 페이지</h3>
		<script>
		console.log("관리자")
		</script>
		
		<input value="관리자 조회" type="button" onclick="location.href='/admin/hrCard/adminList'">
		<input value="관리자 등록" type="button" onclick="location.href='/admin/hrCard/adminRegist'">
		<input value="1차 휴가 대기 목록" type="button" onclick="location.href='/admin/vacation/standbyFirstVacationList'">
		<input value="2차 휴가 대기 목록" type="button" onclick="location.href='/admin/vacation/standbySecondVacationList'">
		<input value="휴가 신청" type="button" onclick="location.href='/admin/vacation/registVacation'">
	
	 <!-- <div th:include="admin/adminAside.html"></div> -->
	 
</body>
</html>


	
