<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/pay/adminPaySelectInfo.css}">
<title>Insert title here</title>
</head>
<body>
	<div th:include="common/header.html"></div>
	<div th:include="common/payAside.html"></div>
	<section>
		<table border="1">
	        <tr>
		        <th:block th:if="${pay.admin.adminPictureSaveName == null}">
					   <td width="200px" height="200px" >
					   	<img width="100" height="120" 
				        	th:src="${ admin.getAdminPictureSaveRoot() + '/' + admin.getAdminPictureSaveName() }"/>
				        </td>
				</th:block>
	            <th width="200px" height="200px"></th>
	            <th width="210px" th:utext="|급여 지급 날짜 <br> <p>${ pay.payAdminDate }</p>|"><br></th>
	            <th width="250px" colspan="2" th:utext="|4대보험 미적용 급여 <br> <p>${ pay.admin.adminSalary }원</p>|"></th>
	            <th width="250px" th:utext="|최종 급여 <br> <p>${ pay.payAdminFinalSalary }원</p>|"></th>
	        </tr>
	        <tr>
	            <th height="30px">직원이름</th>
	            <th colspan="3">직급</th>
	            <th >전화번호</th>
	        </tr>
	        <tr>
	            <th height="90px" colspan="1" th:text="${ pay.admin.adminName }"></th>
	            <th colspan="3" th:text="${ pay.admin.adminJob }"></th>
	            <th th:text="${ pay.admin.adminPhone }"></th>
	        </tr>
    	</table>
    </section>
</body>

</html>
