<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/pay/adminPaySelectInfo.css}">
<title>Insert title here</title>
</head>
<body>
	<div th:include="common/header.html"></div>
	<div th:include="common/taskAside.html"></div>
	<section>
		<table border="1">
	        <tr>
	            <th width="200px" height="200px"></th>
	            <th width="210px" th:utext="|급여 지급 날짜 <br> <p>${ pay.payAdminDate }</p>|"><br></th>
	            <th width="250px" colspan="2" th:utext="|4대보험 미적용 급여 <br> <p>${ pay.admin.adminSalary }원</p>|"></th>
	            <th id="salary" width="250px"> <br></th>
	        </tr>
	        <tr>
	            <th height="30px">직원이름</th>
	            <th colspan="3">직급</th>
	            <th >전화번호</th>
	        </tr>
	        <tr>
	            <th height="90px" colspan="1" th:text="${ pay.admin.adminName }"></th>
	            <th colspan="3" th:text="${ pay.admin.adminJob }"></th>
	            <th th:text="${ pay.admin.adminPhone }"></th>
	        </tr>
    	</table>
    </section>
</body>
	<script th:inline="javascript">
		
		var beforePay = [[${ pay.admin.adminSalary }]];
		var insurance = [[${ insurance }]];
		
		if (insurance > 10) {
			var cal = beforePay - (beforePay * insurance * 0.1) ;
		} else {
			var cal = beforePay - (beforePay * insurance * 0.01) ;
		}
		console.log(insurance);
		document.getElementById("salary").innerHTML= "최종 급여 <br> <p>" + cal + "원" + "</p>";
		
	</script>
</html>
