.tg td {
	border-style: solid;
	border-width: 1px;
	font-size: 14px;
	padding: 10px 10px;
}

.tg th {
	border-style: solid;
	font-size: 14px;
}

.tg .tg-7btt {
	font-weight: bold;
	text-align: center;
}

.tableBox{
	width: 770px;
}
.tableBox td {
	border: solid 1px;
	font-size: 14px;
	padding: 10px 10px;
}

.buttonBox{
	width:755px;
	text-align: center;
}