@font-face {
    font-family: 'MinSans-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff') format('woff');
}

* {
	margin: 0;
	padding: 0;
	font-family: 'MinSans-Medium';
}

.logintopnav{
    width: 100%;
    height: 20%;
    border: 0px solid;
    background-color: #7DBEED;
    font-size: xx-large;
    font-style: italic;
    color: white;
}

.loginmidnav{
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: xx-large;
    font-style: oblique;
    color: #7DBEED;
    text-shadow: 1px 1px 4px gray;
    margin-top: 5%;
    margin-bottom: 2%;
}

.loginbottomnav{
    width: 100%;
    height: 40%;
    text-align: center;
}

label{
    width: 20%;
}

input{
    width:10%;
    background-color: rgba(217, 217, 217, 1);
    border: 0px;

}

.login {
    border: 0px;
    width: 10%;
    margin-top: 2%;
}

.idFind {
    width: 10%;
    background-color: rgba(104, 228, 255, 1);
    border: 0px;
}

.pwdFind {
    width: 10%;
    background-color: rgba(104, 228, 255, 1);
    border: 0px;
}

a{
	width: 100%;
    height: 20%;
    border: 0px solid;
    background-color: rgba(104, 228, 255, 1);
    font-size: xx-large;
    font-style: italic;
    color: white;
    text-decoration: none ;
}

select{
	width:20%;
	margin-left: 40%;
	
}