
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/humanResource/selectAllEmployee/modifyEmployee.css}">
    <title>Document</title>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

</head>
<body>
	<div th:replace="/common/Header.html"></div>
	<div th:replace="/admin/adminAside.html"></div>
<section class="section">
    	<form action="/admin/modify/employee" method="post" id="modifyForm" enctype="multipart/form-data">
	        <table class="tableBox">
        
           <colgroup> <!-- width = 755px -->
             <col style="width: 150px">
             <col style="width: 205px">
             <col style="width: 150px">
             <col style="width: 205px">
             <col style="width: 65px">
             <col style="width: 65px">
           </colgroup>
        
	        <thead>
	          <tr>
	            <td class="subTitle">직원번호</td>
	            <td th:text="${employee.employeeNo}"></td>
	            <td style="display: none;"><input name="employeeNo" th:value="${employee.employeeNo}"></td>
	            <td class="subTitle">이름</td>
	            <td th:text="${employee.employeeName}"></td>
	            <td colspan="2" rowspan="3"> <img id="pictureImg" th:src="@{/adminEmployeePicture/} + ${employee.employeePictureSaveName}" width="130px" height="130px"></td>
	            <td style="display: none;"><input type="text" id="oldSaveRoot" name="oldSaveRoot" th:value="${employee.employeePictureSaveRoot}"></td>
	            <td style="display: none;"><input type="text" id="oldSaveName" name="oldSaveName" th:value="${employee.employeePictureSaveName}"></td>
	            <td style="display: none;"><input type=text id="status" name="status" value="modify"></td>
	            
	            
	          </tr>
	          <tr>
	            <td class="subTitle">ID</td>
	            <td th:text="${employee.employeeId}"></td>
                <td class="subTitle">전화번호</td>
                <td>
	             	<select id="employeePhone1" name="employeePhone1" class="required">
	             		<option value="010">010</option>
	             		<option value="011">011</option>
	             		<option value="017">017</option>
	             		<option value="018">018</option>
	             		<option value="019">019</option>
	             	</select> -
	             	<input type="text" id="employeePhone2" name="employeePhone2" class="required" maxlength='4' th:value="${phone.middlePhoneNumber}" required style="width: 45px"> -
	             	<input type="text" id="employeePhone3" name="employeePhone3" class="required" maxlength='4' th:value="${phone.lastPhoneNumber}" required style="width: 45px">
	             	<input style="display: none;" type="text" id="employeePhone" name="employeePhone">
                    	<div class="warning" id="middleNumCheckMessage" >3~4자리 숫자를 입력해주세요</div>
                    	<div class="warning" id="endNumCheckMessage" >4자리 숫자를 입력해주세요</div>
                    	<div class="warning" id="duplicateCheckMessage" >중복된 핸드폰번호입니다.</div>
	             	
	             	</td>
	             	<td style="display: none;"><input type="text" th:value="${phone.firstPhoneNumber}" id="firstPhoneNumber" name="firstPhoneNumber">
	             	</td>
	             	
	          </tr>
	          <tr>
	            <td class="subTitle">생년월일</td>
	            <td th:text="${employee.employeeBirth}"></td>
	            <td class="subTitle">퇴사여부</td>
	            <td>
	              <Label for="Y">Y</Label>
	              <input type="radio" name="employeeRetireYn" id="Y" value="Y">
	              <Label for="N">N</Label>
	              <input type="radio" name="employeeRetireYn" id="N" value="N">
	            </td>
	            <td style="display: none;" th:text="${employee.employeeRetireYn}"></td>
	            <td style="display: none;"><input type="text" th:value="${employee.employeeRetireYn}" id="retireYn" name="retireYn"></td>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	          
	          
	          
	          
	          	<td class="subTitle">이메일</td>
	            <td colspan="3"><input th:value="${email.email}" type="text" id="email" class="required" placeholder="이메일을 입력해주세요" required> @ 
		 	        <input id="selfInput" name="selfInput" placeholder="이메일 주소를 입력하세요">
		                <select name="domain" id="domain" >
			                <option id="naver" value="naver.com">naver.com</option>
			                <option id="google" value="google.com">google.com</option>
			                <option id="daum" value="daum.com">daum.com</option>
			                <option id="yahoo" value="yahoo.com">yahoo.com</option>
			                <option id="nate" value="nate.com">nate.com</option>
			                <option id="self" value="id">직접입력</option>
		                </select>
                     <div class="warning" id="emailCheckMessage">5~12자리 대소문자 + 영어를 입력해 주세요</div>
                     <div class="warning" id="selfEmailCheckMessage">옳바른 도메인을 입력해 주세요</div>   
		         </td> 
                <td style="display: none;"><input id="employeeEmail" name="employeeEmail" type="text"/></td>
                <td style="display: none;"><input id="domainValue" type="text" th:value="${email.domain}"/></td>
	                    <td> <button type="button" id="pictureModify" name="pictureModify">수정</button> </td>
	                    <td> <button type="button"id="pictureDelete" name="pictureDelete" >삭제</button> </td>
	                    <td style="display: none;"> <input type="file" id="picture" name="picture" onchange="loadImg(this,1)" accept="image/*">
	          		</tr>
	                  <tr>
	                    <td class="subTitle">우편번호</td>
	                    <td><div id="addressNo" th:text="${address.addressNo}"></div></td>
	                    <td class="subTitle">기본주소</td>
	                    <td><div id="address" th:text="${address.address}"></div></td>
	                    <td colspan="2"><button type="button" id="findAddress" style="width: 80px">주소찾기</button></td> 
	                  </tr>
	                  <tr>
	                    <td class="subTitle">상세주소</td>
	                    <td colspan="5"><input type=text th:value="${address.addressDetail}" id="addressDetail" class="required" name="employeeDetailAddress" placeholder="상세주소를 입력해주세요" style="width: 300px" required ></td>
	                    <td style="display: none;"><input id="employeeAddress" name="employeeAddress" type="text"/></td>
	                  </tr>
	          <tr>
	            <td class="subTitle">입사일</td>
	            <td th:text="${employee.employeeHireDate}"></td>
	            <td class="subTitle">퇴사일</td>
	            <td colspan="3" th:text="${employee.employeeRetireDate}"></td>
	          </tr>
	          <tr>
	            <td class="subTitle">누적경고횟수</td>
	            <td th:text="${employee.employeeSumCount}"></td>
	            <td class="subTitle">누적근무시간</td>
	            <td colspan="3" th:text="${employee.employeeSumTime}"></td>
	          </tr>
	          <tr>
	            <td class="subTitle">마지막 로그인 일자</td>
	            <td th:text="${employee.employeeLastLoginDate}"></td>
	            <td class="subTitle">블랙리스트 여부</td>
	            <td colspan="3" th:text="${employee.employeeBlackListYn}"></td>
	          </tr>
	        </tbody>
	        </table>
	        <br>
	        <div class="buttonBox">
	                <span><button type="button" id="modify">수정 확인</button></span>
	                <span><button type="button" id="entire">수정 취소</button></span>
	        </div>
		</form>
</section>
    
    <script>
    
		
    /* 우편번호 스크립트 */
    $("#findAddress").click(
    		
            function sample4_execDaumPostcode() {
                new daum.Postcode({
                    oncomplete: function(data) {
                        var roadAddr = data.roadAddress; // 도로명 주소 변수

                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        $("#address").text(roadAddr);
                        $("#addressNo").text(data.zonecode);
                    }
                }).open();
            }
        )
        
            $(function(){
            	const checkedDomain = $("#domainValue").val();
            	const emailOptions = $('#domain').find('option').map(function() {return $(this).val()}).get();
		    	$("#nameCheckMessage").hide();
		    	$("#emailCheckMessage").hide();
		    	$("#selfEmailCheckMessage").hide();
		    	$("#middleNumCheckMessage").hide();
		    	$("#endNumCheckMessage").hide();
		    	$("#duplicateCheckMessage").hide();
		    	$("#selfInput").hide();

					for (var i = 0; i < emailOptions.length; i++) {
							if (emailOptions[i] === checkedDomain) {
									$("#selfInput").hide();
								$("#domain").val(checkedDomain).prop("selected", true);
								break;
							} else {
									/* 박스 보여주고 */
									$("#selfInput").show();
								/* 박스에 넘어온 값 넣어주고 */
								$("#selfInput").val(checkedDomain);
								/* select의 value가 id인 애를 selected해라 */
								$("#domain").val("id").prop("selected", true);

							}
						}

					})

					$('#domain').change(
							function() {
								$("#domain option:selected").each(
										function() {

											if ($(this).attr('id') == "self") { // 직접입력 선택 시
												$("#selfInput").attr("style", "display:inline");
												$("#self").val("");
												$("#selfInput").val('');

											} else { // 아닌거 선택 시
												$("#selfInput").attr("style",
														"display:none");

											}
										});
							});

					/* 회원 수정 정보 */
					$("#modify")
							.click(
									function() {
										const phone1 = $("#employeePhone1")
												.val();
										const phone2 = $("#employeePhone2")
												.val();
										const phone3 = $("#employeePhone3")
												.val();
										const no = $("#employeeNo").text();
										const name = $("#employeeName").val();
										const birth = $("#employeeBirth").val();
										const email = $("#email").val();
										const domain = $("#selfInput").val();

										const addressNo = $("#addressNo")
												.text();
										const address = $("#address").text();
										const addressDetail = $("#addressDetail").val();

										if(!(phone2)){
							   				alert("핸드폰 중간번호를 입력해주세요");
							   				$("#employeePhone2").focus();
							  			}
							  			else if(!(phone3)){
							   				alert("핸드폰 끝번호를 입력해주세요");
							   				$("#employeePhone3").focus();
							  			}
										
										else if (!(email)) {
											alert("이메일을 입력해주세요");
											$("#email").focus();
										} else if (!(domain)
												&& ($("#domain option:selected")
														.attr('id') == "self")) {
											alert("도메인을 입력해주세요");
											$("#selfInput").focus();
										} else if (!(addressDetail)) {
											alert("상세주소를 입력해주세요");
											$("#addressDetail").focus();
										} else {
											if (confirm("수정하시겠습니까?")) {
												/* const domain = $("#domain").val(); */

												$("#self").attr('value', domain);
												$('#employeePhone').attr('value',phone1 + "-" + phone2+ "-" + phone3);
												$('#employeeAddress').attr('value',addressNo+ "@" + address + "@" + addressDetail);
												$('#employeeEmail').attr('value',email+ "@"+ $("#domain").val());
												$("#modifyForm").submit();
											}
										}
									})

					$("#employeePhone2").focusout(
									function() {
										var regexp = /^[0-9]{3,4}/g;
										if (!regexp.test($("#employeePhone2").val())) { // 중간번호 틀리면
											$("#duplicateCheckMessage").hide();
										console.log(1);
											$("#middleNumCheckMessage").show();
										console.log(2);
											$("#endNumCheckMessage").hide();
										console.log(3);
									         $(this).val('');
										console.log(4);
											$(this).focus();
										console.log(5);
										} else { // 중간번호 맞으면
											$("#middleNumCheckMessage").hide();
											$.ajax({
													url:"/admin/hr/regist/employee/findMiddlePhone",														
													success : function(data) {
										console.log(6);
														for (var i = 0; i < data.length; i++) {
										console.log(77);
															if (data[i] == $("#employeePhone1").val() + $("#employeePhone2").val() + $("#employeePhone3").val()) { // 중복값이면
										console.log(8);
																$("#duplicateCheckMessage").show();
																$("#middleNumCheckMessage").hide();
																$("#endNumCheckMessage").hide();
														        $("#employeePhone2").val('');
																/* $("#employeePhone2").focus(); */
																
																break;
															} else { //성공하면
										console.log(9);
																$("#duplicateCheckMessage").hide();
										console.log(10);
																$("#middleNumCheckMessage").hide();
										console.log(11);
																$("#endNumCheckMessage").hide();
															}
														}
													},
													error : function() {
														alert("fail");
													}
												})
										}
									}
									
									);
				
					
					$("#employeePhone3").focusout(
									function() {
										var regexp = /^[0-9]{4}/g;
										if (!regexp.test($("#employeePhone3").val())) {	//정규표현식이 틀리면
											console.log(12);
											$("#duplicateCheckMessage").hide();
											console.log(13);
											$("#middleNumCheckMessage").hide();
											console.log(14);
											$("#endNumCheckMessage").show();
											console.log(15);
										     $(this).val('');
										     console.log(16);
											$(this).focus();
										     console.log(17);
										} else {		// 정규표현식이 맞다면
										     console.log(18);
											$("#endNumCheckMessage").hide();
										     console.log(19);
											$.ajax({
													url:"/admin/hr/regist/employee/findMiddlePhone",														
													success : function(data) {
										     console.log(20);
										     			for(var i = 0; i < data.length; i++){
										     console.log(21);
										     				if($("#employeePhone2")){
										     console.log(22);
										     				if(data[i] ==$("#employeePhone1").val() + $("#employeePhone2").val() + $("#employeePhone3").val()){
										     console.log(23);
										     					$("#duplicateCheckMessage").show();
										     console.log(24);
										     			     	$("#middleNumCheckMessage").hide();
										     console.log(25);
										     			     	$("#endNumCheckMessage").hide();
										     			     	
										     				    $("#employeePhone3").val('');
										     				    $("#employeePhone3").focus();
										     					break;
										     				}else{
										     					$("#duplicateCheckMessage").hide();
										     			     	$("#middleNumCheckMessage").hide();
										     			     	$("#endNumCheckMessage").hide();
										     				}
										     			}
										     			}
													},
													error : function() {
														alert("fail");
													}
												})
										}
									});

					/* 앞 이메일 정규표현식 */
					$("#email").focusout(function() {

						var regexp = /^[a-z0-9]{5,12}$/gi;

						emailCheck = $(this).val();
						if (!regexp.test(emailCheck)) {
							$("#emailCheckMessage").show();
							$(this).focus();
				             $(this).val(''); 
						} else {
							$("#emailCheckMessage").hide();
						}
					});

					/* 직접입력 이메일 정규표현식 */
					$("#selfInput").focusout(function() {

						var regexp = /[a-zA-Z0-9-]{2,8}\.[a-zA-Z0-9-.]{2,4}/g;

						emailCheck = $(this).val();
						if (!regexp.test(emailCheck)) {
							$("#selfEmailCheckMessage").show();
							$(this).focus();
				             $(this).val(''); 
						} else {
							$("#selfEmailCheckMessage").hide();
						}
					});

					/* 취소 시 */
					$("#entire").click(function() {
						if (!confirm("수정을 취소하시겠습니까?")) {
						} else {
							alert("취소 되었습니다.")
							location.href = "/admin/select/AllEmployee/move";
						}
					});

					/* 퇴사자 라디오 버튼 체크 */
					$(function() {
						const checkedValue = $("#retireYn").val();
						$(":radio[name='employeeRetireYn'][value='"+ checkedValue + "']").attr('checked',true);
					})
					/* 핸드폰 앞자리 선택 체크 */
					const checkedFirstPhone = $("#firstPhoneNumber").val();
					$("#employeePhone1").val(checkedFirstPhone).prop(
							"selected", true);

					/* 변형 */
					$("#pictureModify").click(function() {
						$("#pictureImg").show();
						$("#status").val("modify");
					})

					/* 삭제 */
					$("#pictureDelete").click(function() {
						$("#pictureImg").hide();
						$("#status").val("delete");
					})

					/* 사진등록 */
					const pictureModify = document
							.getElementById("pictureModify");

					pictureModify.onclick = function() {
						document.getElementById("picture").click();
					}

					/* 이미지 미리보기 관련 함수(File API 활용하기) */
					function loadImg(value, num) {

						/* https://developer.mozilla.org/ko/docs/Web/API/FileReader 참고 (MDN 사이트 참고)*/
						if (value.files && value.files[0]) { // value.files[0]는 파일 이름
							console.log(value.files[0]);
							const reader = new FileReader();

							reader.readAsDataURL(value.files[0]); // Base64방식으로 파일을 FileReader에 전달 (Base64로 인코딩한 것은 브라우저가 원래 데이터로 만들게 됨)

							/* load 이벤트의 핸들러로 읽기 동작이 성공적으로 완료 되었을 때마다 발생한다. */
							reader.onload = function(e) { // load EventListener에 function 등록 (FileReader에서 전달 받은 파일을 다 읽으면 리스너에 등록한 function이 호출 됨)
								document.getElementById("pictureImg").src = e.target.result;

							}
						}
					}
				</script>
</body>
</html>