<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <style type="text/css">
.tg td {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-size: 14px;
	padding: 10px 10px;
}

.tg th {
	font-size: 14px;
}

.tg .tg-7btt {
	font-weight: bold;
	text-align: center;
}
</style>
</head>
<body>
    <div>
	<div th:replace="/common/Header.html"></div>
	<div th:replace="/admin/adminAside.html"></div>
        <table class="tg" style="table-layout: fixed; width: 736px">
        <colgroup>
        <col style="width: 158px">
        <col style="width: 147px">
        <col style="width: 155px">
        <col style="width: 139px">
        <col style="width: 68px">
        <col style="width: 69px">
        </colgroup>
        <thead>
          <tr>
            <td class="tg-7btt">직원번호</td>
            <!-- @{/adminEmployeePicture/} + ${employee.employeePictureSaveName} -->
            <td class="tg-7btt" th:text="${employee.employeeNo}"></td>
            <td class="tg-7btt">이름</td>
            <td class="tg-7btt" th:text="${employee.employeeName}"></td>
            <td class="tg-7btt" colspan="2" rowspan="3">
            
             <img id="pictureImg" th:src="@{/adminEmployeePicture/} + ${employee.employeePictureSaveName}" 
             	  alt="사진을 등록해주세요" width="100px" height="100px" onerror="this.style.display='none';"/>
            </td>													 
            <!-- <td class="tg-7btt" colspan="2" rowspan="3" th:text="${employeePicture.employeePictureSaveName}"></td> -->
          </tr>
          <tr>
            <td class="tg-7btt">ID</td>
            <td class="tg-7btt" th:text="${employee.employeeId}"></td>
            <td class="tg-7btt">전화번호</td>
            <td class="tg-7btt" th:text="${employee.employeePhone}"></td>
          </tr>
          <tr>
            <td class="tg-7btt">생년월일</td>
            <td class="tg-7btt" th:text="${employee.employeeBirth}"></td>
            <td class="tg-7btt">퇴사여부</td>
            <td class="tg-7btt" th:text="${employee.employeeRetireYn}"></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-7btt">이메일</td>
            <td class="tg-7btt" colspan="5" th:text="${employee.employeeEmail}"></td>
          </tr>
          <tr>
            <td class="tg-7btt">우편번호</td>
            <td class="tg-7btt" th:text="${addressMap.addressNo}"></td>
            <td class="tg-7btt">기본주소</td>
            <td class="tg-7btt" colspan='3' th:text="${addressMap.address}"></td>
          </tr>
          <tr>
            <td class="tg-7btt">상세주소</td>
            <td class="tg-7btt" colspan="5" th:text="${addressMap.addressDetail}"></td>
          </tr>
          <tr>
            <td class="tg-7btt">입사일</td>
            <td class="tg-7btt" th:text="${employee.employeeHireDate}"></td>
            <td class="tg-7btt">퇴사일</td>
            <td class="tg-7btt" colspan="3" th:text="${employee.employeeRetireDate}"></td>
          </tr>
          <tr>
            <td class="tg-7btt">누적경고횟수</td>
            <td class="tg-7btt" th:text="${employee.employeeSumCount}"></td>
            <td class="tg-7btt">누적근무시간</td>
            <td class="tg-7btt" colspan="3" th:text="${employee.employeeSumTime}"></td>
          </tr>
          <tr>
            <td class="tg-7btt">마지막 로그인 일자</td>
            <td class="tg-7btt" th:text="${employee.employeeLastLoginDate}"></td>
            <td class="tg-7btt">블랙리스트 여부</td>
            <td class="tg-7btt" colspan="3" th:text="${employee.employeeBlackListYn}"></td>
          </tr>
        </tbody>
        </table>
        <br>
        <table class="button">
            <tr>
            <th:block sec:authorize="hasRole('ROLE_ADMIN_HR')">
                <td><button id="adminModify">HR수정</button></td>
            </th:block>
                 
            <th:block sec:authorize="hasRole('ROLE_EMPLOYEE')">
                <td><button id="employeeModify">EMPLOYEE수정</button></td>
            </th:block>
                 
                <th:block sec:authorize="hasRole('ADMIN_HR')">
                <td><button id="entire" th:if="${employee.employeeRetireYn == 'N'}">탈퇴 처리</button></td>
                </th:block> 
                 
                <td id="value" th:text="${employee.employeeNo}" style="display: none"></td>
            </tr>
        </table>
    </div>
    
    <script>
    const value = $("#value").text();
	$("#adminModify").click(function(){
		location.href="/admin/modify/employee/"+value;
	});
	
	$("#employeeModify").click(function(){
		location.href="/employee/modify/employee/"+value;
	})
	
	$("#entire").click(function(){
		
		if(confirm("탈퇴처리 하시겠습니까?")){
			location.href="/admin/reitre/employee/"+value;
		}
	})
    </script>
</body>
</html>


















