<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Document</title>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<style>
body {
	margin-top: 100px;
	font-family: 'Trebuchet MS', serif;
	line-height: 1.6
}

/* 전체 크기 */
.container {
	width: 1500px;
	margin: 0 auto;
}

</style>
</head>

<body>
	<div th:replace="/admin/humanResource/selectAllEmployee/selectEmployeeListHeader.html"></div>
	<div class="container">

		<!-- 직원 내용 -->
		<div id="tab-1" class="tab-content current">
		
		
		










		
		<!-- 재직자 검색 -->
		<form action="/admin/select/retireN">
		<span id="retireNSearch">
			<span>인사관리 카드조회</span> <select name="category" id="category">
				<option value="empNo" selected>사원번호</option>
				<option value="empName">이름</option>
				<option value="empBirth">생년월일</option>
				<option value="empAddress">주소</option>
				<option value="empPhone">전화번호</option>
			</select> <input type="text" name="categoryValue" placeholder="재직자 검색">
			<button type="submit" id="search">검색</button>
		</span>
		</form>
		<!-- 퇴사자 검색 -->
		<span id="retireYSearch">	
			<span>인사관리 카드조회</span> <select name="category" id="category">
				<option value="empNo" selected>사원번호</option>
				<option value="empName">이름</option>
				<option value="empBirth">생년월일</option>
				<option value="empAddress">주소</option>
				<option value="empPhone">전화번호</option>
			</select> <input type="text" name="categoryValue" placeholder="퇴사자 검색">
			<button type="button" id="search">검색</button>
		</span>	
		
		
			<input type="radio" value="admin" name="retire" id="retireNEmployee">
			<label for="retireNEmployee">재직자</label> 
			<input type="radio" value="admin" name="retire" id="retireYEmployee"> <label for="retireYEmployee">퇴사자</label>
			<table id="employeeList" border="1">
				<thead>
					<tr>
						<th>사원번호</th>
						<th>이름</th>
						<th>생년월일</th>
						<th>주소</th>
						<th>전화번호</th>
						<th>입사날짜</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="index : ${employeeAllList}">
						<td th:text="${ index.employeeNo }"></td>
						<td th:text="${ index.employeeName }"></td>
						<td th:text="${ index.employeeBirth }"></td>
						<td th:text="${ index.employeeAddress }"></td>
						<td th:text="${ index.employeePhone }"></td>
						<td th:text="${ index.employeeHireDate }"></td>
					</tr>
				</tbody>
			</table>
		</div>
		
			<div id="entireN"> <div th:replace="/admin/humanResource/selectAllEmployee/retireNPaging.html"></div></div>
			<div id="entireY"> <div th:replace="/admin/humanResource/selectAllEmployee/retireYPaging.html"></div></div>
			
						<!-- <div> <input id="inputMainTain" th:value="${mainTain}"></div> -->
		</div>
		
		



	<script>
	
		
		/* hover event */
		function hover() {
			const employee = document.getElementsByTagName("td");

			for (let i = 0; i < employee.length; i++) {
				employee[i].onmouseenter = function() {
					this.parentNode.style.backgroundColor = "rgb(50,150,250)";
					this.parentNode.style.cursor = "pointer";
				}
				employee[i].onmouseout = function() {
					this.parentNode.style.backgroundColor = "white";
				}

				employee[i].onclick = function() {
					location.href = "/member/selectEmployee/"
							+ this.parentNode.children[0].innerText;
				}
			}
		};
		
		
		
		
		
		/* 재직자 list ajax */
		
		$("#retireNEmployee").click(function() {
			location.href = "/admin/select/retireN"
		})
		
/* 		$("#retireN").click(function() {
							$.ajax({
									url : "/admin/select/retireNEmployeeAjax",S
									success : function(retireNEmployee) {

									const $table = $("#employeeList tbody");
									$table.html("");
									for ( var index in retireNEmployee) {
										$tr = $("<tr>");
										$noTd = $("<td>").text(retireNEmployee[index].employeeNo);
										$nameTd = $("<td>").text(retireNEmployee[index].employeeName);
										$birthTd = $("<td>").text(retireNEmployee[index].employeeBirth);
										$addressTd = $("<td>").text(retireNEmployee[index].employeeAddress);
										$phoneTd = $("<td>").text(retireNEmployee[index].employeePhone);
										$hireDateTd = $("<td>").text(retireNEmployee[index].employeeHireDate);

												$tr.append($noTd);
												$tr.append($nameTd);
												$tr.append($birthTd);
												$tr.append($addressTd);
												$tr.append($phoneTd);
												$tr.append($hireDateTd);

												$table.append($tr);

												hover();
											}
										},
										error : function(error) {
											console.log(error);
										}
									});
						});
		 */
		

		/* 퇴사자 list ajax */
/		$("#retireYEmployee").click(function() {
			location.href = "/admin/select/retireY";
		}) 
		
		/* 
 		$("#retireYEmployee").click(function() {
							$.ajax({
							url : "/admin/select/retireYAjax",
							success : function(RetireYEmployee) {
								$('#inputMainTain').attr('value','Yajax');
								alert("f")
								$('#clickFirst2').click();
								alert("g")
								console.log("Y");
								$('#entireN').hide();
								$('#entireY').show();


								const $table = $("#employeeList tbody");
								$table.html("");

								for ( var index in RetireYEmployee) {
									$tr = $("<tr>");
									$noTd = $("<td>").text(RetireYEmployee[index].employeeNo);
									$nameTd = $("<td>").text(RetireYEmployee[index].employeeName);
									$birthTd = $("<td>").text(RetireYEmployee[index].employeeBirth);
									$addressTd = $("<td>").text(RetireYEmployee[index].employeeAddress);
									$phoneTd = $("<td>").text(RetireYEmployee[index].employeePhone);
									$hireDateTd = $("<td>").text(RetireYEmployee[index].employeeHireDate);

									$tr.append($noTd);
									$tr.append($nameTd);
									$tr.append($birthTd);
									$tr.append($addressTd);
									$tr.append($phoneTd);
									$tr.append($hireDateTd);

									$table.append($tr);
								}
								const employee = document
										.getElementsByTagName("td");

								hover();
								},
							error : function(error) {
								console.log(error);
							}
						});
						}); 
		  */
	</script>
	
			<!-- 페이징 처리 -->
		<script th:inline="javascript">
		    /*<![CDATA[*/
			$(function(){
				const mainTain = /*[[${mainTain}]]*/;			
			if(mainTain == 'N'){
				$("#retireNEmployee").attr("checked","true")
				$('#entireN').show();
				$('#retireNSearch').show();
				$('#entireY').hide();
				$('#retireYSearch').hide();
			}else if(mainTain == 'Y'){
				$("#retireYEmployee").attr("checked","true")
				$('#entireN').hide();
				$('#retireNSearch').hide();
				$('#entireY').show();
				$('#retireYSearch').show();
			}
			hover();
			})
		    /*]]>*/
		</script>
</body>

</html>












