
table{
	width:90%;
	margin:0 auto;
    font-family: 'MinSans-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size:16px;
    border:1px solid #9AE8F9;
    text-align: center;
    border-collapse: collapse;
  
 }
 

table th, table tr, table td {
	border: 1px solid black;
	cursor:pointer;
}
 
 table tr:first-of-type p{
     font-size: large;
     
 }
 
 table th,table tr {
 	 border: 1px solid #9AE8F9;
 }
 

 
 #userAdress {
 	margin-top: 15px;
 }
 
