table{
	width:100%;
	margin:0 auto;
    font-family: 'MinSans-Medium';
    font-weight: normal;
    font-size:14px;
    border:1px solid #7DBEED;
    text-align: center;
    border-collapse: collapse;
  
 }


table th, table tr, table td {
	border: 1px solid black;
}


 
 table tr:first-of-type p{
     font-size: large;
     
 }
 
 table th,table tr {
 	 border: 1px solid #7DBEED;
 }
 
 #modifyForm {
	float:right;	
	margin-bottom: 3px;
}
 .borderText {
	font-family: 'MinSans-Medium';
    font-weight: normal;
    border-top:5px solid #7DBEED;
    border-bottom:5px solid #7DBEED;
}

.payButton {
    width: 63px;
    height: 35px;
   	font-size:12px;
   	cursor: pointer;
	border:1px solid gray;
    border-radius: 5px;
    background-color: rgb(207, 207, 207);
}

.payButton:hover{

    background-color: #7DBEED;
}

tr:nth-of-type(1){background: #7DBEED;}

table th{
	border: 1px solid black;
}
select{
	width:120px;
	height:34px;
	border:1px solid black;
	padding-left:31px;
	font-size:14px !important;
}

#allAdminTable, #paidAdminTable {
    float:left;
}

#allAdminTable {
	margin-right:1%;
	width:52%;
	min-width: 300px;;
}

#paidAdminTable {
	width:47%;
}