

table{
	width:100%;
	margin:0 auto;
    font-family: 'MinSans-Medium';
    font-weight: normal;
    font-size:14px;
    border:1px solid #9AE8F9;
    text-align: center;
    border-collapse: collapse;
  
 }


table th, table tr, table td {
	border: 1px solid black;
}


 
 table tr:first-of-type p{
     font-size: large;
     
 }
 
 table th,table tr {
 	 border: 1px solid #9AE8F9;
 }
 

 h2 {
	font-family: 'MinSans-Medium';
    font-weight: normal;
    font-size:16px;
    border-top:5px solid #9AE8F9;
    border-bottom:5px solid #9AE8F9;
}

.payButton {
    width: 63px;
    height: 35px;
   	font-size:12px;
   	cursor: pointer;
	border:1px solid gray;
    border-radius: 5px;
    background-color: rgb(207, 207, 207);
}

.payButton:hover{

    background-color: #9AE8F9;
}

tr:nth-of-type(1){background: #9AE8F9;}

table th{
	border: 1px solid black;
}
select{
	width:120px;
	height:34px;
	border:1px solid black;
	padding-left:31px;
	margin-left: 78% !important;
	font-size:14px !important;
}

#allAdminTable, #paidAdminTable {
    float:left;
    
	margin-right:1%;
}

#allAdminTable {
	width:54%;
	
}

#paidAdminTable {
	width:43%;
}