<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Document</title>
<style type="text/css">

.section{
	margin-left: 0 !important;
	margin-top: 0 !important;
}
/* 결재 테이블 */
.confirmTableBox td {
	border: solid 1px;
	font-size: 14px;
}

.comfirmBox td {
	height: 75px;
}

.confirmTableBox {
	width: 550px;
	margin-bottom: 20px;
}

.confirmNameBox{
	 line-height: 80px;
}

.confirmDateBox{
	height: 25px;
}

/* 인사 테이블 */
.tableBox{
	width: 750px;
}
.tableBox td {
	border: solid 1px;
	font-size: 14px;
	padding: 10px 10px;
}

</style>
</head>
<body>
	<div th:replace="/common/Header.html"></div>
	<div th:replace="/admin/adminAside.html"></div>  
	
	<section class="section">
			<table class="confirmTableBox">
        <colgroup>
          <col style="width: 150px">
          <col style="width: 200px">
          <col style="width: 200px">
        </colgroup>
				<thead>
					<tr>
						<td>결재 신청 날짜</td>
						<td colspan="2">
							<div name="confirmDateBox" th:text="${returnEmployee.RequestDate}"></div>
						</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowspan="3">결재</td>
						<td>인사담당자</td>
						<td>대표</td>
					</tr>
					<tr class="comfirmBox">
						<td>
							<!-- 인사 담당자 이름 -->
							<div name="hrName" class="confirmNameBox" th:text="${hrName}"></div>
						</td>
						<td>
							<!-- 대표 이름 -->
							<div name="bossName" class="confirmNameBox" th:text="${bossName}"></div>
						</td>
					</tr>
					<tr>
						<!-- 인사 담당자 날짜 -->
						<td class="confirmDateBox" th:text="${hrConfirm}"></td>
						<!-- 보스 날짜 -->
						<td class="confirmDateBox" th:text="${bossConfirm}"></td>
					</tr>
				</tbody>
			</table>

		<div>
			
			<!-- 인사테이블 -->
			<table class="tableBox">
	            <colgroup> <!-- width = 770px -->
	              <col style="width: 150px">
	              <col style="width: 165px">
	              <col style="width: 150px">
	              <col style="width: 165px">
	              <col style="width: 70px">
	              <col style="width: 70px">
	            </colgroup>
				<thead>
					<tr>
						<td>직원번호</td>
						<td th:text="${returnEmployee.employeeNo}"></td>
						<td>이름</td>
						<td th:text="${returnEmployee.employeeName}"></td>
						<td colspan="2" rowspan="3"><img id="pictureImg"th:src="@{/adminEmployeePicture/} + ${returnEmployee.employeePictureSaveName}"></td>
					</tr>
					<tr>
						<td>ID</td>
						<td th:text="${returnEmployee.employeeId}"></td>
						<td>전화번호</td>
						<td th:text="${returnEmployee.employeePhone}"></td>
					</tr>
					<tr>
						<td>생년월일</td>
						<td th:text="${returnEmployee.employeeBirth}"></td>
						<td>퇴사여부</td>
						<td th:text="${returnEmployee.employeeRetireYn}"></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>이메일</td>
						<td colspan="5"
							th:text="${returnEmployee.employeeEmail}"></td>
					</tr>
					<tr>
						<td>우편번호</td>
						<td th:text="${address.addressNo}"></td>
						<td>기본주소</td>
						<td colspan="3" th:text="${address.address}"></td>
					</tr>
					<tr>
						<td>상세주소</td>
						<td colspan="5"
							th:text="${address.addressDetail}"></td>
					</tr>
					<tr>
						<td>입사일</td>
						<td th:text="${returnEmployee.employeeHireDate}"></td>
						<td>퇴사일</td>
						<td colspan="3"
							th:text="${returnEmployee.employeeRetireDate}"></td>
					</tr>
					<tr>
						<td>누적경고횟수</td>
						<td th:text="${returnEmployee.employeeSumCount}"></td>
						<td>누적근무시간</td>
						<td colspan="3"
							th:text="${returnEmployee.employeeSumTime}"></td>
					</tr>
					<tr>
						<td>마지막 로그인 일자</td>
						<td
							th:text="${returnEmployee.employeeLastLoginDate}"></td>
						<td>블랙리스트 여부</td>
						<td colspan="3"
							th:text="${returnEmployee.employeeBlackListYn}"></td>
					</tr>
					<tr>
						<td style="line-height: 150px;">
							<div>인사담당자 의견</div>
						</td>
						<td style="line-height: 150px;" colspan="5"
							th:text="${hrReason}"></td>
					</tr>
					<tr>
						<td style="line-height: 150px;">
							<div>대표 의견</div>
						</td>
						<td style="line-height: 150px;" colspan="5"
							th:text="${bossReason}"></td>
					</tr>
				</tbody>
			</table>
			<br>
		</div>
	</section>
</body>
</html>