<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/humanResource/registEmployee/returnEmployee.css}">
<title>Document</title>

</head>
<body>
	<div th:replace="/common/Header.html"></div>
	<div th:replace="/admin/adminAside.html"></div>  
	
	<section class="section">
			<table class="confirmTableBox">
        <colgroup>
          <col style="width: 150px">
          <col style="width: 200px">
          <col style="width: 200px">
        </colgroup>
				<thead>
					<tr>
						<td class="subTitle">결재 신청 날짜</td>
						<td colspan="2">
							<div name="confirmDateBox" th:text="${returnEmployee.RequestDate}"></div>
						</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="subTitle" rowspan="3">결재</td>
						<td class="subTitle">인사담당자</td>
						<td class="subTitle">대표</td>
					</tr>
					<tr class="comfirmBox">
						<td>
							<!-- 인사 담당자 이름 -->
							<div name="hrName" class="confirmNameBox" th:text="${hrName}"></div>
						</td>
						<td>
							<!-- 대표 이름 -->
							<div name="bossName" class="confirmNameBox" th:text="${bossName}"></div>
						</td>
					</tr>
					<tr>
						<!-- 인사 담당자 날짜 -->
						<td class="confirmDateBox" th:text="${hrConfirm}"></td>
						<!-- 보스 날짜 -->
						<td class="confirmDateBox" th:text="${bossConfirm}"></td>
					</tr>
				</tbody>
			</table>

		<div>
			
			<!-- 인사테이블 -->
			<table class="tableBox">
	            <colgroup> <!-- width = 770px -->
	              <col style="width: 150px">
	              <col style="width: 165px">
	              <col style="width: 150px">
	              <col style="width: 165px">
	              <col style="width: 70px">
	              <col style="width: 70px">
	            </colgroup>
				<thead>
					<tr>
						<td class="subTitle">직원번호</td>
						<td th:text="${returnEmployee.employeeNo}"></td>
						<td class="subTitle">이름</td>
						<td th:text="${returnEmployee.employeeName}"></td>
						<td colspan="2" rowspan="3"><img id="pictureImg"th:src="@{/adminEmployeePicture/} + ${returnEmployee.employeePictureSaveName}" width="125px" height="125px"></td>
					</tr>
					<tr>
						<td class="subTitle">ID</td>
						<td th:text="${returnEmployee.employeeId}"></td>
						<td class="subTitle">전화번호</td>
						<td th:text="${returnEmployee.employeePhone}"></td>
					</tr>
					<tr>
						<td class="subTitle">생년월일</td>
						<td th:text="${returnEmployee.employeeBirth}"></td>
						<td class="subTitle">퇴사여부</td>
						<td th:text="${returnEmployee.employeeRetireYn}"></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="subTitle">이메일</td>
						<td colspan="5"
							th:text="${returnEmployee.employeeEmail}"></td>
					</tr>
					<tr>
						<td class="subTitle">우편번호</td>
						<td th:text="${address.addressNo}"></td>
						<td class="subTitle">기본주소</td>
						<td colspan="3" th:text="${address.address}"></td>
					</tr>
					<tr>
						<td class="subTitle">상세주소</td>
						<td colspan="5"
							th:text="${address.addressDetail}"></td>
					</tr>
					<tr>
						<td class="subTitle">입사일</td>
						<td th:text="${returnEmployee.employeeHireDate}"></td>
						<td class="subTitle">퇴사일</td>
						<td colspan="3"
							th:text="${returnEmployee.employeeRetireDate}"></td>
					</tr>
					<tr>
						<td class="subTitle">누적경고횟수</td>
						<td th:text="${returnEmployee.employeeSumCount}"></td>
						<td class="subTitle">누적근무시간</td>
						<td colspan="3"
							th:text="${returnEmployee.employeeSumTime}"></td>
					</tr>
					<tr>
						<td class="subTitle">마지막 로그인 일자</td>
						<td
							th:text="${returnEmployee.employeeLastLoginDate}"></td>
						<td class="subTitle">블랙리스트 여부</td>
						<td colspan="3"
							th:text="${returnEmployee.employeeBlackListYn}"></td>
					</tr>
					<tr>
						<td style="line-height: 150px;">
							<div class="subTitle">인사담당자 의견</div>
						</td>
						<td style="line-height: 150px;" colspan="5"
							th:text="${hrReason}"></td>
					</tr>
					<tr>
						<td style="line-height: 150px;">
							<div class="subTitle">대표 의견</div>
						</td>
						<td style="line-height: 150px;" colspan="5"
							th:text="${bossReason}"></td>
					</tr>
				</tbody>
			</table>
			<br>
		</div>
	</section>
</body>
</html>