<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/humanResource/registEmployee/returnEmployeeList.css}">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

</head>

<body>

    <div th:replace="/common/Header.html"></div>
	<div th:replace="/admin/adminAside.html"></div> 
	
        <!-- 대기중 내용 -->
    <section class="section">
    <div class="selectBox">
		<div th:replace="/admin/humanResource/registEmployee/adminRegistMainHeader.html"></div>
	</div>
	<div class="searchBox">
		<form name="waitingForm" action="" id="waitForm">
			<span>대기인원 조회</span> 
			<select name="category" id="category">
				<option value="all" selected>전체</option>
				<option value="name">이름</option>
				<option value="phone">전화번호</option>
			</select> 
			<input type="text" id="categoryValue" name="categoryValue" placeholder="대기인원 조회">
			<input type="text" style="display: none;"> <!-- enter - submit 방지 -->
			
			<button type="button" id="searchN" onclick="returnAjax();">검색</button>
			<input type="hidden" value="0" name=page>
		</form>
	</div>
            <table id="returnEmployeeList" class="tableBox">
                <thead>
                    <tr>
                        <th>사원번호</th>
                        <th>이름</th>
                        <th>생년월일</th>
                        <th>전화번호</th>
                        <th>1차 반려 여부</th>
                        <th>2차 반려 여부</th>
                        <th>최종 반려 여부</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
             <form name="mainPage">
				<input type="hidden" value="0" name=page>
	        </form>
	            <div id="paging" style="display: flex; justify-content: center;">
	            <!-- /* 페이징 버튼들어올 공간 */ -->
				</div>
        </section>

    <script>
  
	  

     $(document).ready(function(){
   	  returnAjax();
     });
     
     /* 페이징 버튼을 통한 요청 함수 */
     function returnPage(category, categoryValue, page){
        console.log("ajax page이동 실행 시도");
        var queryString = {"category" : category
                     , "categoryValue" : categoryValue
                     , "page" : page};
        returnAjaxFunction(queryString);
     }
     
     
     /* 유저가 조건 선택해 검색하는 요청 함수 */
     function returnAjax(){
        console.log("ajax 기본함수 실행 시도");
			
        var queryString = $("form[name=waitingForm]").serialize();
        returnAjaxFunction(queryString);
     }
     
     
	  /* 리턴 인원 ajax */
     function returnAjaxFunction(queryString){
        $.ajax({
           url : "/admin/hr/return/employee",
           data : queryString,
           success : function(data){
              const $table = $("#returnEmployeeList tbody");
              const $div = $("#paging");
              
              const confirmY = "승인";
              const confirmN = "반려";
              const returnY = "반려";
              const returnN = "승인";
              /* 데이터 필드, 페이징버튼 필드 초기화 */
              $table.html("");
              $div.html("");
              /* search criteria (페이징 버튼으로 ajax요청보낼 때 사용함) */
              category=data.category;
              categoryValue=data.categoryValue;
              
				for ( var index in data.returnEmployeeList) {
	                $tr = $("<tr>");   
					$noTd = $("<td>").text(data.returnEmployeeList[index].employeeNo);
					$nameTd = $("<td>").text(data.returnEmployeeList[index].employeeName);
					$birthTd = $("<td>").text(data.returnEmployeeList[index].employeeBirth);
					$phoneTd = $("<td>").text(data.returnEmployeeList[index].employeePhone);
					if(data.returnEmployeeList[index].employeeFirstConfirmYn == "Y"){
						$firstTd = $("<td>").text(confirmY);
					}else{
						$firstTd = $("<td>").text(confirmN);
					}
					
					if(data.returnEmployeeList[index].employeeSecondConfirmYn == "Y"){
						$secondTd = $("<td>").text(confirmY);
					}else{
						$secondTd = $("<td>").text(confirmN);
					}
					
					if(data.returnEmployeeList[index].employeeLastConfirmYn == "Y"){
						$lastTd = $("<td>").text(confirmY);
					}else{
						$lastTd = $("<td>").text(confirmN);
					}

							$tr.append($noTd);
							$tr.append($nameTd);
							$tr.append($birthTd);
							$tr.append($phoneTd);
							$tr.append($firstTd);
							$tr.append($secondTd);
							$tr.append($lastTd);

							$table.append($tr);

							hover();

						}
              
              var $startPage = data.startPage;
              var $endPage = data.endPage;
              var $currentPage = data.currentPage;
              var $maxPage = data.maxPage;
              
              var $beforeStartPage = data.startPage-1;
              var $afterEndPage = data.endPage;
              
              if($startPage==0){
                 $button = $("<button class='page' disabled><<</button>");
                 $div.append($button);
              } else {
                 $button = $("<button class='page' id='goBackPage' onclick='returnPage(category,categoryValue,"+$beforeStartPage+")'><<</button>");
                 $div.append($button);
              }
              
              for(i=$startPage;i<$endPage;i++){
                 if(i!=$currentPage){
                    $button = $("<button class='page' onclick='returnPage(category,categoryValue,"+(i)+")'>"+(i+1)+"</button>");   
                 } else {
                    $button = $("<button disabled class='page'>"+(i+1)+"</button>");
                 }
                 
                 $div.append($button);
              }
              
              if($maxPage==$endPage){
                 $button = $("<button class='page' disabled>>></button>");
                 $div.append($button);
              } else {
                 $button = $("<button class='page' id='goForwardPage' onclick='returnPage(category,categoryValue,"+$afterEndPage+")'>>></button>");
                 $div.append($button);
              }
              
           },
           error : function(error){
              console.log(error);
           }
        });
     };

     //검색 후 리스트 리셋
     $('#category').change(function(){
        $("#category option:selected").each(function () {
     		
     			 $("#categoryValue").val('');         //기존 값 초기화
     			 mainList();

        });
     });
 	    
 	  /* 검색 시 검색 결과 리셋 2-2 */
     function mainList(){
        console.log("ajax 기본함수 실행 시도");
 			
        var queryString = $("form[name=mainPage]").serialize();
        returnAjaxFunction(queryString);
     }

        
 		/* hover event */
		function hover() {
			const employee = document.getElementsByTagName("td");

			for (let i = 0; i < employee.length; i++) {
				employee[i].onmouseenter = function() {
					this.parentNode.style.backgroundColor = "#7dbeed96";
					this.parentNode.style.cursor = "pointer";
				}
				employee[i].onmouseout = function() {
					this.parentNode.style.backgroundColor = "white";
				}

            	employee[i].onclick = function(){
                    location.href="/admin/select/returnDetail/" + this.parentNode.children[0].innerText;
                
				}
			}
		};
        
    </script>
</body>

</html>









