<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	  
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<style type="text/css">

/* 결재 테이블 */
.tg td {
	border-style: solid;
	border-width: 1px;
	font-size: 12px;
	overflow: hidden;
	padding: 5px;
	word-break: normal;
}

.tg th {
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 12px;
	padding: 5px;
}

.tg .tg-amwm {
	font-weight: bold;
	text-align: center;
}

.comfirmBox td {
	height: 75px;
}

.confirmTable {
	margin: 20px;
}

.confirmHeight {
	margin: auto;
	line-height: center;
}

/* 인사 테이블 */

.tg2 td {
	border-style: solid;
	border-width: 1px;
	font-size: 14px;
	padding: 10px 10px;
}

.tg2 th {
	border-style: solid;
	border-width: 1px;
	font-size: 14px;
}

.tg2 td {
	font-weight: bold;
	text-align: center;
}
</style>
</head>
<body>
  <!-- 결재라인 -->
  	<div th:replace="/common/Header.html"></div>
	<div th:replace="/admin/adminAside.html"></div> 
    <div>
      <table class="tg confirmTable" style="table-layout: fixed; width: 588px">
        <colgroup>
          <col style="width: 186px">
          <col style="width: 201px">
          <col style="width: 201px">
        </colgroup>
        <thead>
          <tr>
            <td class="tg-amwm">결재 신청 날짜</td>
            <td class="tg-amwm" colspan="2">
              <div name="confirmDate" th:text="${waitingEmployee.RequestDate}"></div>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-amwm confirmHeight" rowspan="3">결재</td>
            <td class="tg-amwm">인사담당자</td>
            <td class="tg-amwm">대표</td>
          </tr>
          <tr class="comfirmBox">
            <td class="tg-amwm">
              <div name="hrName" th:text="${hrName}" style="line-height: 80px;"></div>
            </td> 
            <td class="tg-amwm">
              <div name="bossName" th:text="${bossName}" style="line-height: 80px;"></div>
            </td>
          </tr>
          <tr>
            <td class="tg-amwm" th:text="${hrConfirm}"></td>
            <td class="tg-amwm" th:text="${bossConfirm}"></td>
          </tr>
        </tbody>
      </table>
  	</div>
        <!-- 회원정보 -->
        <div>
          <form action="/admin/hr/confirm/restCommit" id="confirmForm" method="post">
	          <table class="tg2" style="table-layout: fixed; width: 736px">
	            <colgroup>
	              <col style="width: 158px">
	              <col style="width: 147px">
	              <col style="width: 155px">
	              <col style="width: 139px">
	              <col style="width: 68px">
	              <col style="width: 69px">
	            </colgroup>
	            <thead>
	              <tr>
	                <td class="tg2-7btt">직원번호</td>
	                <td class="tg2-7btt" th:text="${waitingEmployee.employeeNo}"></td>
	                 <!-- 수정 -->
		             <!-- 수정 -->
		             <!-- 수정 -->
		             <!-- 수정 -->
		             <!-- 수정 -->
		             <td style="display: none;"><input name="adminNo"></td>
		             <td style="display: none;" id="adminNoValue" sec:authentication="principal.adminNo"></td>
		             <!-- 수정 -->
		             <!-- 수정 -->
		             <!-- 수정 -->
		             <!-- 수정 -->
		             <!-- 수정 -->
	                <td style="display: none;"><input name="employeeNo" th:value="${waitingEmployee.employeeNo}"></td>
	                <td class="tg2-7btt">이름</td>
	                <td class="tg2-7btt" th:text="${waitingEmployee.employeeName}"></td>
	                <td class="tg2-7btt" colspan="2" rowspan="3"> <img id="pictureImg" th:src="@{/adminEmployeePicture/} + ${waitingEmployee.employeePictureSaveName}" alt="사진을 등록해주세요" width="100px" height="100px"></td>
	              </tr>
	              <tr>
	                <td class="tg2-7btt">ID</td>
	                <td class="tg2-7btt" th:text="${waitingEmployee.employeeId}"></td>
	                <td class="tg2-7btt">전화번호</td>
	                <td class="tg2-7btt" th:text="${waitingEmployee.employeePhone}"></td>
	              </tr>
	              <tr>
	                <td class="tg2-7btt">생년월일</td>
	                <td class="tg2-7btt" th:text="${waitingEmployee.employeeBirth}"></td>
	                <td class="tg2-7btt">퇴사여부</td>
	                <td class="tg2-7btt" th:text="${waitingEmployee.employeeRetireYn}"></td>
	              </tr>
	            </thead>
	            <tbody>
	              <tr>
	                <td class="tg2-7btt">이메일</td>
         		    <td class="tg2-7btt" colspan="5" th:text="${waitingEmployee.employeeEmail}"></td>
	              </tr>
	              <tr>
	                <td class="tg2-7btt">우편번호</td>
	                <td class="tg2-7btt" th:text="${address.addressNo}"></td>
	                <td class="tg2-7btt">기본주소</td>
	                <td class="tg2-7btt" colspan="3" th:text="${address.address}"></td>
	              </tr>
	              <tr>
	                <td class="tg2-7btt">상세주소</td>
	                <td class="tg2-7btt" colspan="5" th:text="${address.addressDetail}"></td>
	              </tr>
	              <tr>
	                <td class="tg2-7btt">입사일</td>
	                <td class="tg2-7btt" th:text="${waitingEmployee.employeeHireDate}"></td>
	                <td class="tg2-7btt">퇴사일</td>
	                <td class="tg2-7btt" colspan="3" th:text="${waitingEmployee.employeeRetireDate}"></td>
	              </tr>
	              <tr>
	                <td class="tg2-7btt">누적경고횟수</td>
	                <td class="tg2-7btt" th:text="${waitingEmployee.employeeSumCount}"></td>
	                <td class="tg2-7btt">누적근무시간</td>
	                <td class="tg2-7btt" colspan="3" th:text="${waitingEmployee.employeeSumTime}"></td>
	              </tr>
	              <tr>
	                <td class="tg2-7btt">마지막 로그인 일자</td>
	                <td class="tg2-7btt" th:text="${waitingEmployee.employeeLastLoginDate}"></td>
	                <td class="tg2-7btt">블랙리스트 여부</td>
	                <td class="tg2-7btt" colspan="3" th:text="${waitingEmployee.employeeBlackListYn}"></td>
	              </tr>
	              <tr>
	                <td class="tg2-7btt">
	                  <div style="line-height: 150px;">반려사유</div>
	                </td>
	                <td class="tg2-7btt" colspan="5">
	                  <textarea name="Reason" id="returnReason" cols="70" rows="10" style="resize: none;"
	                    placeholder="사유를 입력해주세요."></textarea>
	                </td>
	              </tr>
	            </tbody>
	          </table>
	          <br>
		          <table class="button">
		          
		            <tr sec:authorize="hasRole('ROLE_ADMIN_HR')">
		              <td sec:authorize="!hasRole('ROLE_ADMIN_BOSS')"><button type="button" id="hrConfirm">hr승인</button></td>
		              <td sec:authorize="!hasRole('ROLE_ADMIN_BOSS')"><button type="button" id="hrReturn">hr반려</button></td>
		              <td sec:authorize="hasRole('ROLE_ADMIN_BOSS')"><button type="button" id="bossConfirm">boss승인</button></td>
		              <td sec:authorize="hasRole('ROLE_ADMIN_BOSS')"><button type="button" id="bossReturn">boss반려</button></td>
		            </tr>
		      </table>
          </form>
        </div>
      <script>
    	  const adminNoValue = $("#adminNoValue").text();
      
      $("#hrConfirm").click(function(){
    	  $("input[name=adminNo]").val(adminNoValue);
		if(confirm("승인 하시겠습니까?")){
			$("#confirmForm").submit();
			}
      });
      
      $("#hrReturn").click(function(){
    	  $("input[name=adminNo]").val(adminNoValue);
  		if(confirm("반려 하시겠습니까?")){
  			$("#confirmForm").attr("action", "/admin/hr/return/restCommit");
  			$("#confirmForm").submit();
			}
        });
      
      $("#bossConfirm").click(function(){
    	  $("input[name=adminNo]").val(adminNoValue);
		if(confirm("승인 하시겠습니까?")){
  			$("#confirmForm").attr("action", "/admin/boss/confirm/restCommit");
			$("#confirmForm").submit();
			}
      });
      
      $("#bossReturn").click(function(){
    	  $("input[name=adminNo]").val(adminNoValue);
  		if(confirm("반려 하시겠습니까?")){
  			$("#confirmForm").attr("action", "/admin/boss/return/restCommit");
  			$("#confirmForm").submit();
			}
        });

      </script>
      </body>
</html>