<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<style type="text/css">

.section{
	margin-left: 0 !important;
	margin-top: 0 !important;
}
/* 결재 테이블 */
.confirmTableBox td {
	border: solid 1px;
	font-size: 14px;
}

.comfirmBox td {
	height: 75px;
}

.confirmTableBox {
	width: 550px;
	margin-bottom: 20px;
	
}

.confirmNameBox{
	 line-height: 80px;
}

.confirmDateBox{
	height: 25px;
}

/* 인사 테이블 */
.tableBox{
	width: 750px;
}

.tableBox td {
	border: solid 1px;
	font-size: 14px;
	padding: 10px 10px;
}

.buttonBox{
	width:750px;
	text-align: center;
}
</style>

</head>
<body>
  <!-- 결재라인 -->
  	<div th:replace="/common/Header.html"></div>
	<div th:replace="/admin/adminAside.html"></div> 
	<section class="section">
      <table class="confirmTableBox">
        <colgroup>
          <col style="width: 150px">
          <col style="width: 200px">
          <col style="width: 200px">
        </colgroup>
        <thead>
          <tr>
            <td >결재 신청 날짜</td>
            <td  colspan="2">
              <div name="confirmDate" th:text="${waitingEmployee.RequestDate}"></div>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="3">결재</td>
            <td >인사담당자</td>
            <td >대표</td>
          </tr>
          <tr class="comfirmBox">
            <td>
              <div class="confirmNameBox" name="hrName" th:text="${hrName}"></div>
            </td> 
            <td class="confirmDate">
              <div class="confirmNameBox" name="bossName" th:text="${bossName}"></div>
            </td>
          </tr>
          <tr>
            <td  class="confirmDateBox" th:text="${hrConfirm}"></td>
            <td  class="confirmDateBox" th:text="${bossConfirm}"></td>
          </tr>
        </tbody>
      </table>
  	
        <!-- 회원정보 -->
        <div>
          <form action="/admin/hr/confirm/restCommit" id="confirmForm" method="post">
	          <table class="tableBox">
	            <colgroup> <!-- width = 770px -->
	              <col style="width: 150px">
	              <col style="width: 165px">
	              <col style="width: 150px">
	              <col style="width: 165px">
	              <col style="width: 70px">
	              <col style="width: 70px">
	            </colgroup>
	            <thead>
	              <tr>
	                <td>직원번호</td>
	                <td th:text="${waitingEmployee.employeeNo}"></td>

		             <td style="display: none;"><input name="adminNo"></td>
		             <td style="display: none;" id="adminNoValue" sec:authentication="principal.adminNo"></td>

	                <td style="display: none;"><input name="employeeNo" th:value="${waitingEmployee.employeeNo}"></td>
	                <td>이름</td>
	                <td th:text="${waitingEmployee.employeeName}"></td>
	                <td colspan="2" rowspan="3"> <img id="pictureImg" th:src="@{/adminEmployeePicture/} + ${waitingEmployee.employeePictureSaveName}"></td>
	              </tr>
	              <tr>
	                <td>ID</td>
	                <td th:text="${waitingEmployee.employeeId}"></td>
	                <td>전화번호</td>
	                <td th:text="${waitingEmployee.employeePhone}"></td>
	              </tr>
	              <tr>
	                <td>생년월일</td>
	                <td th:text="${waitingEmployee.employeeBirth}"></td>
	                <td>퇴사여부</td>
	                <td th:text="${waitingEmployee.employeeRetireYn}"></td>
	              </tr>
	            </thead>
	            <tbody>
	              <tr>
	                <td>이메일</td>
         		    <td colspan="5" th:text="${waitingEmployee.employeeEmail}"></td>
	              </tr>
	              <tr>
	                <td>우편번호</td>
	                <td th:text="${address.addressNo}"></td>
	                <td>기본주소</td>
	                <td colspan="3" th:text="${address.address}"></td>
	              </tr>
	              <tr>
	                <td>상세주소</td>
	                <td colspan="5" th:text="${address.addressDetail}"></td>
	              </tr>
	              <tr>
	                <td>입사일</td>
	                <td th:text="${waitingEmployee.employeeHireDate}"></td>
	                <td>퇴사일</td>
	                <td colspan="3" th:text="${waitingEmployee.employeeRetireDate}"></td>
	              </tr>
	              <tr>
	                <td>누적경고횟수</td>
	                <td th:text="${waitingEmployee.employeeSumCount}"></td>
	                <td>누적근무시간</td>
	                <td colspan="3" th:text="${waitingEmployee.employeeSumTime}"></td>
	              </tr>
	              <tr>
	                <td>마지막 로그인 일자</td>
	                <td th:text="${waitingEmployee.employeeLastLoginDate}"></td>
	                <td>블랙리스트 여부</td>
	                <td colspan="3" th:text="${waitingEmployee.employeeBlackListYn}"></td>
	              </tr>
	              <tr>
	                <td>
	                  <div style="line-height: 150px;">반려사유</div>
	                </td>
	                <td colspan="5">
	                  <textarea name="Reason" id="returnReason" cols="70" rows="10" style="resize: none;"
	                    placeholder="사유를 입력해주세요."></textarea>
	                </td>
	              </tr>
	            </tbody>
	          </table>
	          <div class="buttonBox">
              <th:block sec:authorize="hasRole('ROLE_ADMIN_HR')">
              
	              <th:block sec:authorize="hasRole('ROLE_ADMIN_BOSS')">
	             <button type="button" id="bossConfirm">boss승인</button>
	             <button type="button" id="bossReturn">boss반려</button>
	          	  </th:block>
	          	  
	          	  <th:block sec:authorize="!hasRole('ROLE_ADMIN_BOSS')">
	             <button type="button" id="hrConfirm">hr승인</button>
	             <button type="button" id="hrReturn">hr반려</button>
	          	  </th:block>
	          	  
          	  </th:block>
          	  </div>
	          <br>
          </form>
        </div>
    </section>
      <script>
    	  const adminNoValue = $("#adminNoValue").text();
      
      $("#hrConfirm").click(function(){
    	  $("input[name=adminNo]").val(adminNoValue);
		if(confirm("승인 하시겠습니까?")){
			$("#confirmForm").submit();
			}
      });
      
      $("#hrReturn").click(function(){
    	  $("input[name=adminNo]").val(adminNoValue);
  		if(confirm("반려 하시겠습니까?")){
  			$("#confirmForm").attr("action", "/admin/hr/return/restCommit");
  			$("#confirmForm").submit();
			}
        });
      
      $("#bossConfirm").click(function(){
    	  $("input[name=adminNo]").val(adminNoValue);
		if(confirm("승인 하시겠습니까?")){
  			$("#confirmForm").attr("action", "/admin/boss/confirm/restCommit");
			$("#confirmForm").submit();
			}
      });
      
      $("#bossReturn").click(function(){
    	  $("input[name=adminNo]").val(adminNoValue);
  		if(confirm("반려 하시겠습니까?")){
  			$("#confirmForm").attr("action", "/admin/boss/return/restCommit");
  			$("#confirmForm").submit();
			}
        });

      </script>
      </body>
</html>