<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/pay/adminPaySelect.css}">
<title>Insert title here</title>
<style>
	tr:nth-of-type(1){background: #9AE8F9;}
	table th{
		border: 1px solid black;
	}
</style>
</head>
<body>
	<div th:include="common/header.html"></div>
	<div th:include="common/payAside.html"></div>
	<section>
		
		<table border="1">
	        <tr>
	           <th>이름</th> 
	           <th>직급</th> 
	           <th>전화번호</th>
	           <th>지급날짜</th>
	        </tr>
	       

    </section>
</body>
</html>
