<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
<meta charset="UTF-8">
<title>Project Clean</title>

    <link 
    	rel="stylesheet" type="text/css"
    	th:href="@{/css/employee/checklist/checkList.css}">
 	<script 
    	src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>

</head>

<body>
	<section>
		<form method="post" action="/employee/checkList/update"  enctype="multipart/form-data">
			<input type="hidden" th:value="${ checkList.checkReservationNo }" class="reservationNo" name="reservationNo">
			
			<p th:utext="${ checkList.checkHTML }" class="jbHtml"></p>	
					
			<table style ="margin-left: 35%">
				<tr >
					<td class="content-img-area1" id="contentImgArea1">
						<h5 align="center"> Before</h5>
						<img id="beforeImg" width="200" height="180" >
					</td>
					<td class="content-img-area2" id="contentImgArea2">
						<h5 align="center"> After</h5>
 	        			<img id="afterImg" width="200" height="180">
 	        		</td>
				</tr>
			</table>
			
			<div class="thumbnail-file-area">
		        <input type="file" id="thumbnailImg1" name="beforeThumbnailImg" onchange="loadImg(this,1)" style="display: none">
           		<input type="file" id="thumbnailImg2" name="afterThumbnailImg" onchange="loadImg(this,2)" style="display: none">
			</div>
			<br><br>				
			
            <div style="width:300px; height:300px; margin-left: 40%" id="contentImgArea3">     
                <canvas id="canvas" style="border:1px solid black"></canvas>  
	        	<img id="signImg" width="300px; height:300px; margin-left: 40%" src="">
	        </div> 	

		</form>
	</section>
	
	<br>
	<div class="canvasbtnarea" style="text-align: center;">
	<button id="save"  type="button">서명 저장</button>
    <button id="reset"  type="button">서명 취소</button>
	</div>
	<br><br><br><br>    	
	<input type="button" id="submitButton" value="제출" class="submittbtn" >	  
	
    
	<!-- submit script -->
    <script>
	    
	    const jbHtml = "";
    	document.getElementById("submitButton").onclick = function(){
			const reservationNo = $('.reservationNo').val();
    			const jbHtml = $( 'section' ).html();
    		if(confirm("체크리스트를 전송하시겠습니까?")){
    			$.ajax({
    				url: "/employee/checkList/update",
    				type:"POST",
    				data:{
    					jbHtml : jbHtml,
    					reservationNo : reservationNo
    				},
    				success: function(data){
		    			alert("전송 완료");
						location.href="/employee/checkList/selectMyCheckList"
    				},
    				error : function(request, status){
    					alert("전송 실패")
    				}
    			})
    		 }
    	}

    </script>	 	
	
	<!-- fileUpload script -->
	<script>
	
	const $contentImgArea1 = document.getElementById("contentImgArea1");
	const $contentImgArea2 = document.getElementById("contentImgArea2");
	
	$contentImgArea1.onclick = function() {
				document.getElementById("thumbnailImg1").click();
			}
	$contentImgArea2.onclick = function() {
				document.getElementById("thumbnailImg2").click();
			}
	
	function loadImg(value, num) {
				
		if (value.files && value.files[0]) {			
			const reader = new FileReader();
					
			reader.readAsDataURL(value.files[0]);		
						
			reader.onload = function(e) {	
				switch(num){
					case 1:
						document.getElementById("beforeImg").src = e.target.result;
						break;
					case 2:
						document.getElementById("afterImg").src = e.target.result;
						break;
				}
								
			}
		}
	}


	</script>	
			
	<!-- checkBox script -->		
	<script>
	$("input[type='checkbox']").each(function(){
		if($(this).is(":checked") == true){
			$(this).val("YES");
		} else if($(this).is(":checked") == false){
			$(this).val("NOT")
		}
	});

	$("input[type='checkbox']").change(function(){
		if($(this).is(":checked") == true){
			$(this).val("YES");
		} else{
			$(this).val("NOT");
		}
	});

	</script>
	
	<!--  canvas script -->
	<script>
	window.onload = function() {
		(function(obj){      
		                    obj.init();      
		                    $(obj.onLoad);
		                })
		                    ((function(){      
		                        var canvas = $("#canvas");      
		                        var div = canvas.parent("div");      
		
		                        var ctx = canvas[0].getContext("2d");      
		                        var drawble = false;            
		
		                        function canvasResize(){        
		                            canvas[0].height = div.height();        
		                            canvas[0].width = div.width();      
		                        }      
		
		                        // PC 
		                        function draw(e){        
		                            function getPosition(){          
		                                return {            
		                                    X: e.pageX - canvas[0].offsetLeft,             
		                                    Y: e.pageY - canvas[0].offsetTop          
		                                }        
		                            }        
		                            switch(e.type){          
		                                case "mousedown":{            
		                                    drawble = true;            
		                                    ctx.beginPath();            
		                                    ctx.moveTo(getPosition().X, 
		                                    getPosition().Y);          
		                                }     
		
		                                break;          
		                                
		                                case "mousemove":{            
		                                    if(drawble){              
		                                        ctx.lineTo(getPosition().X, 
		                                        getPosition().Y);              	
		                                        ctx.stroke();            
		                                    }          
		                                }          
		                                
		                                break;          
		                                
		                                case "mouseup":          
		                                case "mouseout":{            
		                                    drawble = false;            
		                                    ctx.closePath();          
		                                }          break;        
		                            }      
		                        }       
		
		                        return {init: function(){          
		                            $(window).on("resize", canvasResize);                    
		                            canvas.on("mousedown", draw);          
		                            canvas.on("mousemove", draw);          
		                            canvas.on("mouseup", draw);          
		                            canvas.on("mouseout", draw);  
		
		                            $("#save").on("click", function(){     
		                            	const canvas = document.getElementById('canvas');
		                            	const dataURL = canvas.toDataURL();
		                            	document.getElementById("signImg").src = dataURL;
		                            	document.getElementById("canvas").remove();
		                            	
		                            });        
		                            
		                            $("#reset").on("click", function(){
		
		                                ctx.clearRect(0, 0, 800, 600);
		                            })
		
		                        },        
		                        
		                        onLoad: function(){          
		                            canvasResize();        
		                            }}})());  
			
							
	};			
	</script>
</body>
	<script 
		src="/js/socket.js"></script>
	<script
		src="http://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
   	<script 
		src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</html>