<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Project Clean</title>

	<link 
		rel="stylesheet" type="text/css"
		th:href="@{/css/employee/checklist/checkList.css}">
	<script 
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script 
		src="https://code.jquery.com/jquery-3.4.1.min.js"></script>	
	<script 
	      src='/js/checklistCheckBox2.js'></script>

</head>
<body>

<section>
	
		<input type="hidden" th:value="${checkList.checkReservationNo}" class="reservationNo" name="reservationNo"> 
		
		<p th:utext="${checkList.checkHTML}" class="jbHtml"></p>			
		
</section>
	
</body>
</html>