<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Project Clean</title>

	<link 
		rel="stylesheet" type="text/css"
		th:href="@{/css/employee/checklist/checkList.css}">
	<script 
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script 
		src="https://code.jquery.com/jquery-3.4.1.min.js"></script>	
	      
</head> 
<body>
	<input hidden type="text" th:value="${userId}" id="employeeName">
	<input hidden type="text" th:value="${adminId}" id="client">
	
	<form hidden id="sendForm">
    	<div>
     	 	<input type="text" id="sendingMessage">
        	<input type="text" id="sendingName" >
    	</div>
    	<button id="send" type="submit">Send</button>
	</form>
<section>

	<form method="post" action="admin/checklist/denial"  enctype="multipart/form-data" id ="formSender">
	
		<input type="hidden" th:value="${checkList.checkReservationNo}" class="reservationNo" name="reservationNo"> 
		
		<p th:utext="${checkList.checkHTML}" class="jbHtml"></p>			
		
		<th:block th:if="${ checkList.checkStatus == 'D' }">	
		  
		  	<br><br>
		  
			<div class="OpnionArea">
		        <div class="employeeOpnionArea" id="employeeOpnionArea">
	   	        	<br><label>직원 사유서</label><br><br>
	    	        <textarea id="employeeOpnion" class="Opnion" maxlength="300" rows="5"></textarea>
		        	<textarea id="employeeOpnion2" class="Opnion" maxlength="300" rows="5" style="display: none"></textarea>
			    </div>
	    	</div>
	    	
	    </th:block>
	    
	<br><br>	
				
	</form>

</section>
	<br>
	
	<th:block th:if="${ checkList.checkStatus == 'D' }">	
	    <input type="button" value="등록" id="submit" class="submittbtn">
	</th:block>

	<form hidden id="sendForm">
	    <div>
	        <input type="text" id="sendingMessage">
	        <input type="text" id="sendingName" >
	        <input type="text" id="path" >
	    </div>
	    <button id="send" type="submit">Send</button>
	</form>

<script>
	const opnion = document.querySelectorAll(".employeeOpnionArea");

	for(let i = 0; i < opnion.length; i++){
		
		if(i == 0){
			continue;
		} else {
			alert("이미 사유서가 제출되었습니다.")
			opnion[i].remove();
			document.getElementById("submit").remove();
		}
	}
</script>
	
<!--  textarea script -->
<script>
	
		$("#adminOpnion").prop("readonly", true);
		$("#adminOpnion2").prop("readonly", true);
		
		$('textarea').keyup(function(){
		var letter = $(this).val()
		$('#employeeOpnion2').html(letter)
	})
	
</script>	
<!-- Submit script -->
    <script>
	    
	    const jbHtml = "";
    	
    	document.getElementById("submit").onclick = function(){
			const reservationNo = $('.reservationNo').val();
			const userName = document.getElementById("employeeName").value
			
			if($("#employeeOpnion2").val().length < 30) {
				
				alert("사유서는 30자 이상 작성하여 제출해 주세요");
				
			} else {
			
	    		if(confirm("사유서를 제출하시겠습니까? 담당 관리자에게 알람이 전송됩니다.")){
	    			
	    			$("#path").val("/admin/checklist/denial/select")
	    			$("#sendingMessage").val("사유서가 제출되었습니다.")
	    			$("#sendingName").val(userName)
	    			
	    			$("#send").bind("click", function(){});
		    			
		    		$("#send").trigger("click");
		    		
	    			document.getElementById("employeeOpnion").remove();
	    			document.getElementById("employeeOpnion2").style="";
	    			const jbHtml = $( 'section' ).html();
	
	    			$.ajax({
	    				url: "submmit",
	    				type:"POST",
	    				data:{	
	    					jbHtml : jbHtml,
	    					reservationNo : reservationNo
	    				},
	    				
	    				success: function(data){
	    					location.href="/employee/checkList/selectMyCheckList"
			    			alert("전송 완료");
							
	    				},
	    				error : function(request, status){
	    					alert("전송 실패")
	    				}
	    			})
	    		 } 
	    	}
    	}
    </script>	

</body>
	<script 
		src="/js/socket.js"></script>
	<script 
		src="/js/checkListCheckBox2.js"></script>
	<script
		src="http://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
   	<script 
		src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

</html>