<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
<title>Project Clean</title>    
    <link rel="stylesheet"
    	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css"
    	th:href="@{/css/employee/checklist/checkList.css}">
   	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>Document</title>
</head>

<body>
	    <section hidden id="checklist" class="container-fluid" >
	        <div class="logintopnav col-xl-3">
	            <a href="/"><h3 class= "mainlogo">CLEANUP</h3></a>
	        </div>
	
	        <h3 class="title col-xl-3"> 업무 체크리스트 </h3>
	
	        <div class="checklist col-xl-3">
	            <h5 class="title col-sm-3">주방</h5>
	            <input type="checkbox" id="checkbox1" class="checkbox"> 정리정돈<br>
	            <input type="checkbox" id="checkbox2" class="checkbox"> 찌든때<br>
	            <input type="checkbox" id="checkbox3" class="checkbox"> 설거지<br>
	            <input type="checkbox" id="checkbox4" class="checkbox"> 가스레인지<br>
	            <input type="checkbox" id="checkbox5" class="checkbox"> 음식물 쓰레기<br>
	            <input type="checkbox" id="checkbox6" class="checkbox"> 물기 제거<br>
	        </div>
	
	        <div class="checklist col-xl-3">
	            <h5 class="title col-sm-3">방 / 거실</h5>
	            <input type="checkbox" id="checkbox7" class="checkbox"> 정리 정돈<br>
	            <input type="checkbox" id="checkbox8" class="checkbox"> 침구 정돈<br>
	            <input type="checkbox" id="checkbox9" class="checkbox"> 먼지털기<br>
	            <input type="checkbox" id="checkbox10" class="checkbox"> 청소기<br>
	            <input type="checkbox" id="checkbox11" class="checkbox"> 신발장 / 거울<br>
	            <input type="checkbox" id="checkbox12" class="checkbox"> 걸레질<br>
	        </div>
	
	        <div class="checklist col-xl-3">
	            <h5 class="title col-sm-3">화장실</h5>
	            <input type="checkbox" id="checkbox13" class="checkbox"> 쓰레기통 정리<br>
	            <input type="checkbox" id="checkbox14" class="checkbox"> 찌든 때, 물 때 정리<br>
	            <input type="checkbox" id="checkbox15" class="checkbox"> 물기 제거<br>
	            <input type="checkbox" id="checkbox16" class="checkbox"> 세탁<br>
	            <input type="checkbox" id="checkbox17" class="checkbox"> 건조<br>
	        </div>
	
	        <div class="checklist col-xl-3">
	            <h5 class="title col-sm-3">부가서비스</h5>
	            <input type="checkbox" id="checkbox18" class="checkbox"> 레인지 후드<br>
	            <input type="checkbox" id="checkbox19" class="checkbox"> 에어컨 필터<br>
	            <input type="checkbox" id="checkbox20" class="checkbox"> 곰팡이<br>
	            <input type="checkbox" id="checkbox21" class="checkbox"> 창고정리<br>
	            <input type="checkbox" id="checkbox22" class="checkbox"> 반려동물<br>
	            <input type="checkbox" id="checkbox23" class="checkbox"> 복층<br>
	        </div>
	
<!-- 	        <div class="OpnionArea">
	        <th:block sec:authorize="hasRole('ADMIN')">
		        <div class="adminOpnionArea">
		            <label>관리자 의견</label><br>
		            <textarea class="Opnion" cols="100%" rows="3"></textarea>
		            <br>
		            <input type="button" value="등록">
		        </div>
			</th:block>
	
	        <br>
	        <th:block sec:authorize="hasRole('ADMIN')">
	        <div class="employeeOpnionArea">
	            <label>직원 답변</label><br>
	            <textarea class="Opnion" cols="100%" rows="3"></textarea>
	            <br>
	            <input type="button" value="등록">
	        </div>
			</th:block>
	    </div> -->
	    
	    </section>
     <script>
    
    const jbHtml = ""
    
	    window.onload = function(){
	    	$(document).ready( function() {
	            const jbHtml = $( 'section' ).html();
	        	$.ajax({
	            	url: "start",
	             	type: "post",
	             	data: {
	            	 	jbHtml : jbHtml
	             	},
	             	success: function(data){
	             		alert("업무 시작. 청소 종료 후 체크리스트를 잊지 마세요!")
	             		location.href="/employee/task/selectMyTask"
	             	},
	             	error: function(request, status){
	                 	alert("네트워크를 확인해주세요.")
	             	}
		        });
		 	});
	    };

    </script>
    
</body>
</html>