<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<title>Insert title here</title>
</head>
<body>
	<div class="pagingArea" align="center">
	
	    <button id="startPage"><<</button>

		<th:block th:if="${ selectCriteria.pageNo <= 1 }">
			<button disabled><</button>
		</th:block>
		
		<th:block th:if="${ selectCriteria.pageNo > 1 }">
			<button id="prevPage"><</button>
		</th:block>

		<th:block th:with="start = ${selectCriteria.startPage},
                    last = ${selectCriteria.endPage}">
			<th:block th:each="p : ${#numbers.sequence(start,last)}">

				<th:block th:if="${ selectCriteria.pageNo eq p }">
					<button th:text="${p}" disabled></button>
				</th:block>
				
				<th:block th:if="${ selectCriteria.pageNo ne p }">
					<button th:text="${p}" onclick="pageButtonAction(this.innerText);"></button>
				</th:block>
				
		    </th:block>
	    </th:block>

		<th:block th:if="${ selectCriteria.pageNo >= selectCriteria.maxPage }">
			<button disabled>></button>
		</th:block>
		
		<th:block th:if="${ selectCriteria.pageNo < selectCriteria.maxPage }">
			<button id="nextPage">></button>
		</th:block>

		<button id="maxPage">>></button>
	</div>

	<script>
		const link = "/admin/checklist/accept/select";
		let searchText = "";

		if(document.getElementById("startPage")) {
			const $startPage = document.getElementById("startPage");
			$startPage.onclick = function() {
				location.href = link + "?currentPage=1" + searchText;
			}
		}

		if(document.getElementById("prevPage")) {
			const $prevPage = document.getElementById("prevPage");
			$prevPage.onclick = function() {
				location.href = link + "?currentPage=[[${ selectCriteria.pageNo - 1 }]]" + searchText;
			}
		}

		if(document.getElementById("nextPage")) {
			const $nextPage = document.getElementById("nextPage");
			$nextPage.onclick = function() {
				location.href = link + "?currentPage=[[${ selectCriteria.pageNo + 1 }]]" + searchText;
			}
		}

		if(document.getElementById("maxPage")) {
			const $maxPage = document.getElementById("maxPage");
			$maxPage.onclick = function() {
				location.href = link + "?currentPage=[[${ selectCriteria.maxPage }]]" + searchText;
			}
		}

		function pageButtonAction(text) {
			location.href = link + "?currentPage=" + text + searchText;
		}
	</script>
</body>
</html>
