<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Project Clean</title>

	<script 
	    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<link 
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" >
	<link 
		rel="stylesheet" type="text/css"
		th:href="@{/css/employee/checklist/checkList.css}">
	<script 
		src="https://code.jquery.com/jquery-3.4.1.min.js"></script>	
      		
</head>
<body>
<section>
	<form method="post" action="admin/checklist/denial"  enctype="multipart/form-data" id ="formSender">
	
		<input type="hidden" th:value="${checkList.checkReservationNo}" class="reservationNo" name="reservationNo"> 
		
		<p th:utext="${checkList.checkHTML}" class="jbHtml"></p>			
		
		<br><br>				
	</form>
</section>

<div class="submitarea" id="submitarea">
	<input type="button" value="승인" id="accept">
	&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="button" value="블랙+" id="denial">
</div>

<input hidden type="text" th:value="${employeeName}" class="employeeName" id="employeeName">
<input hidden type="text" th:value="${employeeName}" class="employeeName" id="client">

<form hidden id="sendForm">
    <div>
        <input type="text" id="sendingMessage">
        <input type="text" id="sendingName" >
        <input type="text" id="path" >
    </div>
    <button id="send" type="submit">Send</button>
</form>

<!-- textarea script -->
<script>
	
	if(document.getElementById("employeeOpnion2")){
	} else{
		const div = document.getElementById("submitarea");
		div.remove();
	}
	
	$("#adminOpnion").prop("readonly", true);
	$("#adminOpnion2").prop("readonly", true);
	$("#employeeOpnion2").prop("readonly", true);
	$('textarea').keyup(function(){
		var letter = $(this).val()
		$('#adminOpnion').html(letter)
	})
	
</script>
<!-- Submit script -->
    <script>
    	
		    const jbHtml = "";
		    const userName = document.getElementById("employeeName").value
			const reservationNo = $('.reservationNo').val();
		    
	    	document.getElementById("denial").onclick = function(){
	    		
				if(confirm("해당 직원에게 블랙리스트 경고 횟수를 추가하시겠습니까? 직원에게 알림이 전송됩니다.")){
					$("#path").val("/employee/checkList/black/select")
	    			$("#sendingMessage").val("체크리스트가 재반려되었습니다. 블랙리스트 경고 횟수가 증가합니다.")
	    			
		    		$("#sendingName").val(userName)
	    			
	    			$("#send").bind("click", function(){
	    			});
	    			
	    			$("#send").trigger("click");
	    			
	    			const jbHtml = $( 'section' ).html();
	    			const blackYn = 2;
	    			
	    			$.ajax({
	    				url: "denial",
	    				type:"POST",
	    				data:{	
	    					jbHtml : jbHtml,
	    					reservationNo : reservationNo,
	    					blackYn : blackYn
	    				},
	    				
	    				success: function(data){
			    			alert("전송 완료");
			    			location.href="/admin/checklist/accept/select"
	    				},
	    				error : function(request, status){
	    					alert("전송 실패")
	    				}
	    			})
	    		 } 
	    	}
	    	
	    	document.getElementById("accept").onclick = function(){
	    		if(confirm("서류를 승인하시겠습니까? 직원에게 알람이 전송됩니다.")){
	    			
	    			$("#path").val("/employee/checkList/accept/select")
	    			$("#sendingMessage").val("체크리스트가 승인되었습니다. 급여 확인 부탁드립니다.")
	    			$("#sendingName").val(userName)
	    			
	    			$("#send").bind("click", function(){
	    			});
	    			
	    			$("#send").trigger("click");
	    			
	    			const jbHtml = $( 'section' ).html();
	    			$.ajax({
	    				url: "accept",
	    				type:"POST",
	    				data:{	
	    					jbHtml : jbHtml,
	    					reservationNo : reservationNo
	    				},
	    				
	    				success: function(data){
	    					location.href="/admin/checklist/accept/select"
			    			alert("전송 완료");
							
	    				},
	    				error : function(request, status){
	    					alert("전송 실패")
	    				}
	    			})
	    		 } 
	    	}

    </script>	
</body>

	<script
   		src="/js/socket.js"></script> 
   	<script 
    	src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script 
   		src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script
		src="http://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>

</html>