<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Document</title>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<style>
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      overflow:hidden;padding:10px 5px;word-break:normal; border-color:#c0c0c0;text-align:center;vertical-align:middle}

    .btn_sign {
      background: #9AE8F9;
      padding: 6px;
      border-radius: 3px;
      border : 0;
      outline: 0;
    }
    .btn_sign:hover {
      box-shadow: 1px 1px 1px #ddd;
    }

    .btn_cancle {
      background: #9AE8F9;
      padding: 6px;
      border-radius: 3px;
      border : 0;
      outline: 0;
    }
    .btn_cancle:hover {
      box-shadow: 1px 1px 1px #ddd;
    }
    .btn_address {
      background: #9AE8F9;
      padding: 6px;
      border-radius: 3px;
      border : 0;
      outline: 0;
    }
    .btn_address:hover {
      box-shadow: 1px 1px 1px #ddd;
    }
    .btn_profile {
      background: #9AE8F9;
      padding: 6px;
      border-radius: 3px;
      border : 0;
      outline: 0;
    }
    .btn_profile:hover {
      box-shadow: 1px 1px 1px #ddd;
    }
    .btn_hrcard {
      background: #9AE8F9;
      padding: 6px;
      border-radius: 3px;
      border : 0;
      outline: 0;
    }
    .btn_hrcard:hover {
      box-shadow: 1px 1px 1px #ddd;
    }
    </style>
</head>
<body>
	<div th:include="common/header.html"></div>
	<div th:include="common/hrAside.html"></div>

	<button onclick="history.back()">Back</button>
    <form action="/admin/hrCard/adminRegist" id="registForm" method="post" enctype="multipart/form-data">
	    <table class="tg" style=" table-layout: fixed; width: 597px">
	    <colgroup>
	    <col style="width: 100px">
	    <col style="width: 120px">
	    <col style="width: 100px">
	    <col style="width: 200px">
	    <col style="width: 60px">
	    <col style="width: 60px">
	    </colgroup>
		    <thead>
		      <tr>
		        <td>관리자번호</td>
		        <td th:text="${ adminNo }"></td>
		        <td>이름</td>
		        <td><input type="text" name="adminName" required></td>
		        <td colspan="2" rowspan="3"><img id="adminImg" width="100" height="120"></td>
		      </tr>
		      <tr>
		        <td>ID</td>
		        <td th:text="${ adminId }"></td>
		        <td>전화번호</td>
		          <td> 
		        	<select id="adminPhone1" name="adminPhone1" class="required">
	             		<option selected>010</option>
	             		<option>011</option>
	             		<option>016</option>
	             		<option>017</option>
	             		<option>019</option>
	             	</select>-
	             	<input type="text" id="adminPhone2" name="adminPhone2" class="required" maxlength='4' required>-
	             	<input type="text" id="adminPhone3" name="adminPhone3" class="required" maxlength='4' required>
	             	<input style="display: none;" type="text" id="adminPhone" name="adminPhone">
	             </td>
		      </tr>
		      <tr>
		        <td>생년월일</td>
		        <td><input type="date" id="adminBirth" name="adminBirth" min="1950-01-01" max="2003-01-01" required></td>
		        <td>성별</td>
		        <td>
		        	<select name="adminGender" style="text-align: center;" required>
		                <option value="F">여성</option>
		                <option value="M">남성</option>
		                <!-- <option value="총관리자">총관리자</option> -->
		            </select>
		        </td>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td>이메일</td>
		        <td colspan="3"><input type="text" name="email" id="email" required> @ 
		        <select name="domain" id="domain" style="width: 100px; height: 25px;">
	                    <option value="naver.com" selected>naver.com</option>
	                    <option value="google.com">google.com</option>
	                    <option value="hanmail.com">hanmail.com</option>
	            </select>
	            <td style="display: none;"><input id="adminEmail" name="adminEmail" type="text"/></td>
		         <td colspan="2"><input type="file" id="thumbnailImg" name="thumbnailImg" onchange="loadImg(this,1)" style="display: none"></td>
		      </tr>
		      <tr>
		        <td>우편번호</td>
		        <td><input type="text" name="addressNo" id="addressNo" readonly></td>
		        <td>기본주소</td>
		        <td><input type="text" name="address" id="address" readonly></td>
		        <td colspan="2"><input type="button" value="검색" class="btn btn-yg" id="searchAdminAddressNo"></td>
		      </tr>
		      <tr>
		        <td>상세주소</td>
		        <td colspan="5"><input type="text" name="addressDetail" id="addressDetail" required></td>
		       <!--  <td class="tg-7btt"style="display: none;"><input id="adminAddress" name="adminAddress" type="text"/></td> -->
		      </tr>
		      <tr>
		        <td>입사일</td>
		        <td colspan="2"><input type="date" id="adminHireDate" name="adminHireDate" required></td>
		        <td>퇴사일</td>
		        <td colspan="2">-</td>
		      </tr>
		      <tr>
		        <td>직책</td>
		        <td colspan="2">
		        	<select name="adminJob" style="text-align: center;" required>
		                <option value="일반관리자">일반관리자</option>
		                <option value="인사관리자">인사관리자</option>
		                <option value="재정담당자">재정담당자</option>
		                <option value="보안담당자">보안담당자</option>
		                <!-- <option value="총관리자">총관리자</option> -->
		            </select>
		        </td>
		        <td>마지막 로그인 일자</td>
		        <td colspan="2">-</td>
		      </tr>
		      <tr>
		        <td>연차 사용 횟수</td>
		        <td colspan="2">-</td>
		        <td>퇴사여부</td>
		        <td colspan="2">N</td>
		      </tr>
		    </tbody>
		    </table>
	    <input class="btn_hrcard" type="button" id="regist" value="등록완료">
	    <input class="btn_hrcard" type="button" id="resetButton" value="등록취소">
	    <input name="adminId" type="hidden" th:value="${ adminId }">
  </form>
  
  <script>
  /* 회원 수정 정보 */
	$("#regist").click(function(){
		
		const birth = $("#adminBirth").val();
		const phone1 = $("#adminPhone1").val();
		const phone2 = $("#adminPhone2").val();
		const phone3 = $("#adminPhone3").val();
 		const email = $("#email").val();
		const domain = $("#domain").val();
		const hireDate = $("#adminHireDate").val();
		
		// 이미지 나중에 추가
		
		const addressNo = $("#addressNo").text();
		const address = $("#address").text();
		const addressDetail = $("#addressDetail").val();
		
			if(!(phone2 && phone3 && email && addressDetail && birth && hireDate)){
				alert("입력되지 않은 항목이 있습니다.");
			}else{
			if(confirm("등록하시겠습니까?")){
				$('#adminPhone').attr('value', phone1 +"-"+ phone2 +"-"+ phone3 );
				/* $('#adminAddress').attr('value', addressNo + "@" + address + "@" + addressDetail); */
				$('#adminEmail').attr('value', email + "@" + domain); 
				$("#registForm").submit();
				
			}
		}
	})  
	$("#resetButton").click(function(){
		if(confirm("초기화 하시겠습니까?")){
			document.getElementById("registForm").reset();
		}
	})
	
	/* 핸드폰 번호 정규표현식 */
	
  $("#adminPhone2").focusout(function (event) {

  	var regexp = /^[0-9]{3,4}/gi;
      phoneCheck = $(this).val();
      if (!regexp.test(phoneCheck)) {
          alert("3 ~ 4자리의 숫자만 사용하기로 약속해요");
        
      }
  });
  
  $("#adminPhone3").focusout(function (event) {

  	var regexp = /^[0-9]{4}/gi;
      phoneCheck = $(this).val();
      if (!regexp.test(phoneCheck)) {
      	alert("4자리의 숫자만 사용하기로 약속해요");
          
      }
  });
  
  /* 이름 정규표현식 */
  $("#adminName").focusout(function (event) {

  	var regexp =  /^[가-힣]{2,4}$/;
      phoneCheck = $(this).val();
      if (!regexp.test(phoneCheck)) {
          alert("2~4글자의 한글만 사용하기로 약속해요");
           $(this).val(''); 
           document.location.reload(true);
      }
  });

  
  </script>
  
  <!-- 참고 링크 : http://postcode.map.daum.net/guide -->
	<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
		const $searchZipCode = document.getElementById("searchAdminAddressNo");
		 const $goMain = document.getElementById("goMain");
		
		$searchZipCode.onclick = function() {
		
			/* 다음 우편번호 검색 창을 오픈하면서 동작할 콜백 메소드를 포함한 객체를 매개변수로 전달한다. */
			new daum.Postcode({
				oncomplete: function(data){
					
					/* 팝업에서 검색결과 항목을 클릭했을 시 실행할 코드를 작성하는 부분 */
					document.getElementById("addressNo").value = data.zonecode;
					document.getElementById("address").value = data.address;
					document.getElementById("addressDetail").focus();
				}
			}).open();
		}
		
		$goMain.onclick = function() {
			location.href = "${ pageContext.servletContext.contextPath }";
		} 
		
		const handlePress = (e) => {
	        const regex = /^[0-9\b -]{0,13}$/;
	        if (regex.test(e.target.value)) {
	            setTel(e.target.value);
	        }
	    };
			
		</script>
		
		<script>
		/* 이미지 미리보기 관련 스크립트 */
		const $adminImg = document.getElementById("adminImg");
		
		$adminImg.onclick = function() {
			document.getElementById("thumbnailImg").click();
		}

		/* 이미지 미리보기 관련 함수(File API 활용하기) */
		function loadImg(value, num) {
			
			/* https://developer.mozilla.org/ko/docs/Web/API/FileReader 참고 (MDN 사이트 참고)*/
			if (value.files && value.files[0]) {			// value.files[0]는 파일 이름
				const reader = new FileReader();
				reader.readAsDataURL(value.files[0]);		// Base64방식으로 파일을 FileReader에 전달 (Base64로 인코딩한 것은 브라우저가 원래 데이터로 만들게 됨)
				
				/* load 이벤트의 핸들러로 읽기 동작이 성공적으로 완료 되었을 때마다 발생한다. */
				reader.onload = function(e) {				// load EventListener에 function 등록 (FileReader에서 전달 받은 파일을 다 읽으면 리스너에 등록한 function이 호출 됨)
						document.getElementById("adminImg").src = e.target.result;
						
					}
				}
			}
		
		
		</script>
</body>
</html>