<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>	
</head>
		<div id="adminNoValue" style="display: none;" sec:authentication="principal.adminNo"></div>
<body>

<script>
	$(function(){
		const adminNo = $("#adminNoValue").text();
    	location.href="/admin/hrCard/adminDetail/" + adminNo;
	})
</script>
</body>
</html>