<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/humanResource/vacation/selectMyVacationDetail.css}">
    <title>Document</title>

</head>
<body>
    <div th:replace="/common/Header.html"></div>
	<div th:replace="/admin/adminAside.html"></div>
	<section class="section">
      <!-- 결재라인 -->
        <table class="confirmTableBox">
          <colgroup>
            <col style="width: 186px">
            <col style="width: 201px">
            <col style="width: 201px">
          </colgroup>
          <thead>
            <tr>
              <td class="subTitle">결재 신청 날짜</td>
              <td colspan="2">
                <div class="confirmDateBox" name="confirmDate" th:text="${vacation.requestDate}"></div>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td  class="subTitle" rowspan="3">결재</td>
              <td class="subTitle">인사담당자</td>
              <td class="subTitle">대표</td>
            </tr>
            <tr class="comfirmBox">
              <td>
                <div class="confirmNameBox" id="humanResource" name="humanResource" th:text="${hrName}"></div>
              </td>
              <td>
                <div class="confirmNameBox" id="boss" name="boss" th:text="${bossName}"></div>
              </td>
            </tr>
            <tr>
              <td class="confirmDateBox" th:text="${hrConfirm}"></td>
              <td class="confirmDateBox" th:text="${bossConfirm}"></td>
            </tr>
          </tbody>
        </table>

        <table class="tableBox">
            <colgroup>
            <col style="width: 250px">
            <col style="width: 450px">
            </colgroup>
            
            <thead>
            </thead>
            <tbody>
              <tr>
                <td class="subTitle">성명</td>
                <td th:text="${admin.adminName}"></td>
              </tr>
              <tr>
                <td class="subTitle">직급</td>
                <td th:text="${admin.adminJob}"></td>
              </tr>
              <tr>
                <td class="subTitle">휴가명</td>
                <td th:text="${vacation.vacationName}"></td>
              </tr>
              <tr>
                <td class="subTitle">기간</td>
                <td th:text="${vacation.vacationStartDate} + ' ~ ' + ${vacation.vacationStartDate}"></td>
              </tr>
              <tr>
                <td class="subTitle">연락망</td>
                <td th:text="${admin.adminPhone}"></td>
              </tr>
              <tr>
                <td class="subTitle"><div class="reason" >사유</div></td>
                <td><div class="reason" th:text="${vacation.vacationReason}"></div></td>
              </tr>
              <tr>
                <td colspan="2">위와 같이 휴가를 신청하오니 승인하여 주시기 바랍니다.</td>
              </tr>
              <tr>
                <td><div class="returnReason subTitle">인사담당자 의견</div></td>
                <td><div class="reasonBox" id="returnReason" th:text="${hrReason}"></div></td>
              </tr>
              <tr>
                <td><div class="returnReason subTitle">대표 의견</div></td>
                <td><div class="reasonBox" id="returnReason" th:text="${bossReason}"></div></td>
              </tr>
            </tbody>
          </table>
      </section>
</body>
</html>